In [1]:
# Import library
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
import numpy as np

In [5]:
# Import my csv file into python using pandas and save it as pay_gap
pay_gap1 = pd.read_csv('UK Gender Pay Gap Data - 2017 to 2018.csv')
pay_gap1

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"""Bryanston School"",Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,18.0,28.2,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018/04/05 00:00:00,2018/03/27 11:42:49
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2018/04/05 00:00:00,2018/03/28 16:44:25
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF10 4BZ,03951948,61900,1.7,2.8,13.1,13.6,...,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018/04/05 00:00:00,2018/03/27 19:10:41
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN31 1UL,10530651,78300,41.0,36.0,-69.8,-157.2,...,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018/04/05 00:00:00,2018/05/04 11:24:06
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA6 3JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018/04/05 00:00:00,2018/04/12 17:03:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10565,ZPG PLC,14075,"The Cooperage, 5 Copper Row, London, England, ...",SE1 2LH,09005884,63120,27.8,17.5,39.9,46.9,...,36.5,78.5,21.5,http://www.ar17.zpg.co.uk/application/themes/d...,Lorraine Metcalf (Chief Talent Officer),500 to 999,ZPG LIMITED,False,2018/04/05 00:00:00,2018/02/15 14:48:59
10566,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",30.0,33.7,54.4,50.3,...,47.0,73.0,27.0,https://www.zurich.co.uk/en/about-us/corporate...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2018/04/05 00:00:00,2018/01/29 10:52:37
10567,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,25.9,26.3,45.0,27.6,...,23.0,72.0,28.0,https://www.zurich.co.uk/en/about-us/corporate...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2018/04/05 00:00:00,2018/01/29 10:55:15
10568,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,25.0,30.0,43.0,49.0,...,26.0,81.0,19.0,NaN,James Wilkinson (CEO),250 to 499,ZUTO LIMITED,False,2018/04/05 00:00:00,2022/03/28 11:20:43
10569,ZWANENBERG FOOD UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,10110,22.0,6.0,93.0,22.0,...,34.0,71.0,29.0,NaN,Jonathan Ashmore (Managing Director),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,True,2018/04/05 00:00:00,2018/05/03 14:52:28

In [7]:
pay_gap2 = pd.read_csv('UK Gender Pay Gap Data - 2018 to 2019.csv')
pay_gap2

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,12.3,8.4,NaN,NaN,...,53.4,63.7,36.3,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2019/04/05 00:00:00,2019/04/03 12:55:59
1,"""Bryanston School"",Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,19.6,32.5,NaN,NaN,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,BRYANSTON SCHOOL,False,2019/04/05 00:00:00,2019/04/03 13:43:34
2,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,7.7,-4.2,23.7,-75.2,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2019/04/05 00:00:00,2019/04/01 12:37:21
3,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF10 4BZ,03951948,61900,7.7,12.7,11.3,10.9,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,2019/04/05 00:00:00,2019/03/06 13:26:24
4,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN31 1UL,10530651,78300,30.0,29.0,-10.0,69.0,...,83.0,25.0,75.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,False,2019/04/05 00:00:00,2019/04/03 15:43:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10833,ZPG LIMITED,14075,"The Cooperage, 5 Copper Row, London, England, ...",SE1 2LH,09005884,63120,24.0,29.0,46.0,29.0,...,34.0,78.0,22.0,NaN,Emma Baker (HR Operations Manager),500 to 999,ZPG LIMITED,False,2019/04/05 00:00:00,2019/04/03 14:15:10
10834,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",26.6,29.6,56.9,53.2,...,45.6,70.9,29.1,https://www.zurich.co.uk/_/media/dbe/united-ki...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2019/04/05 00:00:00,2019/03/04 09:29:55
10835,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,22.3,23.8,51.6,50.6,...,29.0,70.2,29.8,https://www.zurich.co.uk/_/media/dbe/united-ki...,Steve Collinson (Head of UK HR),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2019/04/05 00:00:00,2019/03/04 09:37:57
10836,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,25.0,21.0,48.0,56.0,...,28.0,80.0,20.0,NaN,James Wilkinson (CEO),250 to 499,ZUTO LIMITED,False,2019/04/05 00:00:00,2022/03/28 11:16:34
10837,ZWANENBERG FOOD UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,10110,20.0,4.0,86.0,15.0,...,38.0,71.0,29.0,NaN,Jonathan Ashmore (Managing Director),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2019/04/05 00:00:00,2019/03/22 15:50:22

In [8]:
pay_gap3 = pd.read_csv('UK Gender Pay Gap Data - 2019 to 2020.csv')
pay_gap3

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,11.5,10.3,NaN,NaN,...,60.0,62.0,38.0,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2020/04/05 00:00:00,2020/04/03 14:47:45
1,10 TRINITY SQUARE HOTEL LIMITED,19455,"5 Market Yard Mews, 194-204 Bermondsey Street,...",SE1 3TQ,08064685,82990,8.7,10.3,29.6,54.5,...,21.1,66.7,33.3,NaN,Linda Stigter (Director of People and Culture),250 to 499,10 TRINITY SQUARE HOTEL LIMITED,False,2020/04/05 00:00:00,2020/03/19 15:51:20
2,1LIFE MANAGEMENT SOLUTIONS LIMITED,687,"The Stables, Duxbury Park, Duxbury Hall Road, ...",PR7 4AT,02566586,"93110,\n93130,\n93290",11.0,-0.5,81.5,94.2,...,57.7,44.2,55.8,https://www.1life.co.uk/gender-pay-gap,Mark Braithwaite (Managing Director),250 to 499,1LIFE MANAGEMENT SOLUTIONS LIMITED,False,2020/04/05 00:00:00,2020/03/10 17:03:17
3,1ST CHOICE STAFF RECRUITMENT LIMITED,18136,"Unit A Telford Court, Chester Gates Business P...",CH1 6LT,07972006,78109,-2.3,0.0,-114.8,-249.3,...,37.1,50.0,50.0,https://www.1stchoice.net/gender-pay-gap-repor...,Gill Knight (MD),250 to 499,1ST CHOICE STAFF RECRUITMENT LIMITED,False,2020/04/05 00:00:00,2020/01/24 09:37:01
4,1ST HOME CARE LTD.,17484,"Suite 1, Ground Floor Academy House, 1346 Shet...",G32 9AT,SC272838,"86900,\n88100",-2.0,0.5,NaN,NaN,...,91.0,9.0,91.0,https://reallifeoptions.org/,Ian Hardcastle (Chief Operating Officer),250 to 499,1ST HOME CARE LTD.,False,2020/04/05 00:00:00,2020/03/12 08:21:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7050,ZING LEISURE LIMITED,14068,"5 New Street Square, London, United Kingdom, E...",EC4A 3TW,05175354,56102,10.0,0.2,31.9,0.0,...,42.9,57.1,42.9,NaN,Timothy Doubleday (CFO),250 to 499,ZING LEISURE LIMITED,False,2020/04/05 00:00:00,2021/08/18 09:29:16
7051,ZOPA LIMITED,18767,"Frobisher House, Southbrook Road, Southampton,...",SO15 1GX,05197592,64929,25.5,38.8,40.5,50.0,...,26.2,82.0,18.0,https://blog.zopa.com/2019/09/30/gender-divers...,Jaidev Janardana (CEO),250 to 499,PLATA FINANCE LIMITED,False,2020/04/05 00:00:00,2020/02/27 13:32:25
7052,ZOTEFOAMS PLC,14074,"675 Mitcham Road, Croydon, CR9 3AL",CR9 3AL,02714645,"22290,\n70100",3.8,-2.7,20.7,8.6,...,14.7,84.2,15.8,NaN,Jill Breingan (HR Director),250 to 499,ZOTEFOAMS PLC,False,2020/04/05 00:00:00,2020/05/04 16:05:24
7053,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",23.4,27.6,48.8,49.9,...,43.2,70.3,29.7,https://www.zurich.co.uk/-/media/project/zwp/u...,Steve Collinson (Head of The People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2020/04/05 00:00:00,2020/04/09 12:19:18
7054,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,21.5,21.9,54.0,36.3,...,30.7,70.0,30.0,https://www.zurich.co.uk/-/media/project/zwp/u...,Steve Collinson (Head of The People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2020/04/05 00:00:00,2020/04/09 12:24:11

In [10]:
pay_gap4 = pd.read_csv('UK Gender Pay Gap Data - 2020 to 2021 .csv')
pay_gap4

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,10.3,8.7,NaN,NaN,...,55.0,58.0,42.0,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2021/10/06 00:00:00,2021/04/15 09:57:16
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,0.5,0.0,7.0,0.0,...,92.0,24.0,76.0,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2021/10/06 00:00:00,2021/09/30 11:25:24
2,123-REG LIMITED,20308,"Studio 4th Floor Parts C&D At East West, Tollh...",NG1 5FW,05306504,63110,16.6,18.1,58.1,40.2,...,32.3,82.0,18.0,https://www.123-reg.co.uk/terms/gender-pay-rep...,Richard Winslow (Director),250 to 499,123-REG LIMITED,False,2021/10/06 00:00:00,2021/10/05 11:02:42
3,1509 GROUP,15320,"Royal Grammar School, High Street, Guildford, ...",GU1 3BB,04104101,"85200,\n85310",13.3,12.7,NaN,NaN,...,50.0,64.0,36.0,https://www.rgsg.co.uk,Kate Perceval (Bursar),Less than 250,1509 GROUP,False,2021/10/06 00:00:00,2021/09/07 16:12:10
4,1825 FINANCIAL PLANNING AND ADVICE LIMITED,19795,"280 Bishopsgate, London, United Kingdom, EC2M 4AG",EC2M 4AG,01447544,"64999,\n66190",44.5,42.6,74.1,83.0,...,48.0,78.9,21.1,https://www.standardlifeaberdeen.com/en/career...,Julie Scott (Director),250 to 499,ABRDN FINANCIAL PLANNING AND ADVICE LIMITED,False,2021/10/06 00:00:00,2020/12/17 07:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10577,ZPG LIMITED,14075,"The Cooperage, 5 Copper Row, London, England, ...",SE1 2LH,09005884,63120,20.3,16.0,49.5,20.5,...,42.4,67.7,32.3,NaN,Emma Baker (Head of HR Operations & Reward),500 to 999,ZPG LIMITED,False,2021/10/06 00:00:00,2021/07/07 16:41:48
10578,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",25.6,26.6,33.3,42.5,...,44.9,69.8,30.2,https://www.zurich.co.uk/en/about-us/corporate...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2021/10/06 00:00:00,2021/03/22 15:20:32
10579,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,18.7,19.9,46.8,18.2,...,32.4,70.7,29.3,https://www.zurich.co.uk/en/about-us/corporate...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2021/10/06 00:00:00,2021/03/22 15:25:05
10580,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,22.0,1.0,16.0,35.0,...,45.0,65.0,35.0,https://www.zuto.com/gender-pay-report/,Mary Beighton (People & Culture Director),250 to 499,ZUTO LIMITED,False,2021/10/06 00:00:00,2021/10/05 16:00:14
10581,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,10110,21.4,10.0,67.0,-120.0,...,38.8,70.9,29.1,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2021/10/06 00:00:00,2021/10/05 17:13:32

In [12]:
pay_gap5 = pd.read_csv('UK Gender Pay Gap Data - 2021 to 2022 .csv')
pay_gap5

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,8.5,3.7,NaN,NaN,...,59.1,55.6,44.4,https://www.aber.ac.uk/en/equality/equality-re...,Dylan Jones (Diversity and Inclusion Manager),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2022/04/05 00:00:00,2022/03/31 13:09:40
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,0.6,-4.4,14.1,-2.0,...,95.1,20.5,79.5,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2022/04/05 00:00:00,2022/03/25 09:16:08
2,1509 GROUP,15320,"Royal Grammar School, High Street, Guildford, ...",GU1 3BB,04104101,"85200,\n85310",18.0,16.0,NaN,NaN,...,50.0,71.0,29.0,https://www.rgsg.co.uk,Ann Mortimer (Payroll Manager),Less than 250,1509 GROUP,False,2022/04/05 00:00:00,2022/02/02 11:06:02
3,1LIFE MANAGEMENT SOLUTIONS LIMITED,687,"The Stables, Duxbury Park, Duxbury Hall Road, ...",PR7 4AT,02566586,"93110,\n93130,\n93290",6.1,-35.3,55.5,-100.0,...,65.2,47.8,52.2,https://www.1life.co.uk/corporate-information/,Ann Chesher (Head of Employee Services),Less than 250,1LIFE MANAGEMENT SOLUTIONS LIMITED,False,2022/04/05 00:00:00,2022/02/01 12:19:55
4,1ST HOME CARE LTD.,17484,"Suite 1, Ground Floor Academy House, 1346 Shet...",G32 9AT,SC272838,"86900,\n88100",-3.0,0.0,NaN,NaN,...,91.0,8.0,92.0,NaN,David Sargent (Group Chief Executive Officer),Less than 250,1ST HOME CARE LTD.,False,2022/04/05 00:00:00,2022/02/08 14:48:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10559,ZPG LIMITED,14075,"The Cooperage, 5 Copper Row, London, England, ...",SE1 2LH,09005884,63120,22.4,22.4,72.7,15.9,...,42.3,70.9,29.1,https://careers.zoopla.co.uk/how-we-do-things/...,Emma Baker (Head of People Operations and Reward),500 to 999,ZPG LIMITED,False,2022/04/05 00:00:00,2022/02/21 15:04:46
10560,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",26.5,24.4,55.4,36.0,...,46.9,67.8,32.2,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2022/04/05 00:00:00,2022/04/01 10:03:10
10561,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,16.7,19.7,56.8,45.1,...,34.0,69.3,30.7,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2022/04/05 00:00:00,2022/04/01 10:04:31
10562,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,16.0,6.0,10.0,35.0,...,29.0,70.0,30.0,https://www.zuto.com/assets/pdf/gender_pay_rep...,Mary Beighton (People & Culture Director),250 to 499,ZUTO LIMITED,False,2022/04/05 00:00:00,2022/03/30 08:58:57
10563,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,10110,18.7,2.1,76.9,0.0,...,37.7,65.0,35.0,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2022/04/05 00:00:00,2022/04/04 21:39:23

In [14]:
pay_gap6 = pd.read_csv('UK Gender Pay Gap Data - 2022 to 2023 .csv')
pay_gap6

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,9.70,3.88,18.91,14.70,...,63.09,58.17,41.83,https://www.aber.ac.uk/en/equality/equality-re...,Dylan Jones (Diversity and Inclusion Manager),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2023/04/05 00:00:00,2023/03/31 15:00:24
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.45,-4.96,5.57,-9.13,...,93.50,20.70,79.30,NaN,Osmond Ramsay (Finance Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2023/04/05 00:00:00,2023/03/02 15:51:56
2,10X BANKING TECHNOLOGY UK LIMITED,22185,"4th Floor 16 High Holborn, London, England, WC...",WC1V 6BX,11738306,62090,19.00,13.40,60.00,0.00,...,16.50,82.40,17.60,https://www.10xbanking.com/learn/gender-pay-ga...,Curt Hess (Chief Operating Officer),250 to 499,10X BANKING TECHNOLOGY UK LIMITED,False,2023/04/05 00:00:00,2023/03/31 12:21:39
3,1509 GROUP,15320,"Royal Grammar School, High Street, Guildford, ...",GU1 3BB,04104101,"85200,\n85310",16.13,19.99,NaN,NaN,...,43.75,65.62,34.38,https://rgsg.co.uk,Catherine Perceval (Bursar),250 to 499,1509 GROUP,False,2023/04/05 00:00:00,2022/11/08 14:07:47
4,1LIFE MANAGEMENT SOLUTIONS LIMITED,687,"The Stables, Duxbury Park, Duxbury Hall Road, ...",PR7 4AT,02566586,"93110,\n93130,\n93290",4.00,-8.50,85.70,50.00,...,73.80,37.80,62.20,https://www.1life.co.uk/corporate-information/,Ann Chesher (Employee Services Director),Less than 250,1LIFE MANAGEMENT SOLUTIONS LIMITED,False,2023/04/05 00:00:00,2023/02/22 09:47:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10898,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",25.90,23.60,55.90,37.00,...,44.20,67.80,32.20,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2023/04/05 00:00:00,2023/01/26 13:02:09
10899,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,16.40,16.60,49.50,10.00,...,33.90,67.40,32.60,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2023/04/05 00:00:00,2023/01/26 13:07:21
10900,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,18.90,8.70,20.00,32.00,...,29.00,75.00,25.00,https://www.zuto.com/assets/pdf/gender_pay_rep...,Mary Beighton (People and Culture Director),250 to 499,ZUTO LIMITED,False,2023/04/05 00:00:00,2023/04/04 09:05:18
10901,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,10110,20.00,6.80,40.30,0.00,...,39.00,83.20,16.80,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2023/04/05 00:00:00,2023/04/03 14:20:01
10902,ZZOOMM PLC,22010,"C/O Dmh Stallard Llp, Fetter Yard, Barnards In...",EC4A 1EN,11738914,61900,3.70,4.00,37.00,-9.70,...,10.00,87.00,13.00,NaN,Rachel Woolf (People Director),250 to 499,ZZOOMM PLC,False,2023/04/05 00:00:00,2023/03/17 16:00:53

In [16]:
pay_gap7 = pd.read_csv('UK Gender Pay Gap Data - 2023 to 2024 .csv')
pay_gap7

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,11.39,6.75,NaN,NaN,...,60.47,54.94,45.06,https://www.aber.ac.uk/en/equality/equality-re...,Dylan Jones (Diversity and Inclusion Manager),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2024/04/05 00:00:00,2024/03/21 14:30:02
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,-11.67,-4.33,-96.82,33.33,...,85.00,24.70,75.30,NaN,Osmond Ramsay (Finance Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,2024/04/05 00:00:00,2023/11/17 16:14:52
2,10 TRINITY SQUARE HOTEL LIMITED,19455,"5 Market Yard Mews, 194-204 Bermondsey Street,...",SE1 3TQ,08064685,82990,-7.00,6.60,-69.80,-112.10,...,29.00,49.00,51.00,https://www.fourseasons.com/towerbridge/,Linda Stigter (Director of People and Culture),250 to 499,10 TRINITY SQUARE HOTEL LIMITED,True,2024/04/05 00:00:00,2025/01/21 14:50:16
3,10X BANKING TECHNOLOGY UK LIMITED,22185,"4th Floor 16 High Holborn, London, England, WC...",WC1V 6BX,11738306,62090,23.10,23.40,0.60,0.00,...,19.00,93.20,6.80,NaN,Curt Hess ((Chief Operating Officer)),250 to 499,10X BANKING TECHNOLOGY UK LIMITED,False,2024/04/05 00:00:00,2024/03/25 12:45:40
4,1509 GROUP,15320,"Royal Grammar School, High Street, Guildford, ...",GU1 3BB,04104101,"85200,\n85310",17.56,17.84,NaN,NaN,...,43.66,61.43,38.57,https://www.rgsg.co.uk/,Catherine Perceval (Bursar),250 to 499,1509 GROUP,False,2024/04/05 00:00:00,2024/03/14 11:46:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11150,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",29.30,28.40,59.30,41.20,...,51.70,65.20,34.80,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2024/04/05 00:00:00,2023/10/11 07:40:47
11151,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,14.00,13.20,39.50,14.20,...,32.70,64.70,35.30,https://www.zurich.co.uk/sustainability/divers...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2024/04/05 00:00:00,2023/10/11 07:45:37
11152,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,22.00,12.00,13.00,20.00,...,25.00,71.00,29.00,https://www.zuto.com/gender-pay-report/,Mary Beighton (People and Culture Director),250 to 499,ZUTO LIMITED,False,2024/04/05 00:00:00,2024/03/27 14:13:37
11153,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,"10110,\n10130",16.10,2.10,100.00,100.00,...,39.50,70.60,29.40,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,True,2024/04/05 00:00:00,2024/10/28 12:02:56
11154,ZZOOMM PLC,22010,"C/O Dmh Stallard Llp, Fetter Yard, Barnards In...",EC4A 1EN,11738914,61900,-0.80,-13.70,-4.00,-33.50,...,16.00,83.00,17.00,NaN,Rachel Woolf (People Director),500 to 999,ZZOOMM PLC,False,2024/04/05 00:00:00,2024/03/27 14:20:15

In [17]:
pay_gap8 = pd.read_csv('UK Gender Pay Gap Data - 2024 to 2025 .csv')
pay_gap8

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,9.17,2.90,7.50,0.00,...,60.33,53.62,46.38,https://www.aber.ac.uk/en/equality/equality-re...,Dylan Jones (dej20@aber.ac.uk),1000 to 4999,'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVE...,False,2025/04/05 00:00:00,2025/03/28 09:02:53
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,8.75,-4.96,20.83,36.88,...,89.50,26.10,73.90,NaN,Osmond Ramsay (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",True,2025/04/05 00:00:00,2025/04/11 07:57:32
2,10 TRINITY SQUARE HOTEL LIMITED,19455,"5 Market Yard Mews, 194-204 Bermondsey Street,...",SE1 3TQ,08064685,82990,-2.20,8.40,-93.90,0.00,...,34.00,63.00,37.00,https://www.fourseasons.com/towerbridge/,Linda Stigter (Director of People and Culture),250 to 499,10 TRINITY SQUARE HOTEL LIMITED,False,2025/04/05 00:00:00,2025/01/21 14:19:52
3,10442565 LTD,19491,"Compass House 17-19 Empringham Street, Kingsto...",HU9 1RP,10442565,70229,11.00,3.60,26.10,4.90,...,33.20,60.00,40.00,NaN,David Maccormack (Director),1000 to 4999,10442565 LTD,False,2025/04/05 00:00:00,2025/04/03 12:14:38
4,1509 GROUP,15320,"Royal Grammar School, High Street, Guildford, ...",GU1 3BB,04104101,"85200,\n85310",20.12,17.48,NaN,NaN,...,52.94,73.53,26.47,http://www.rgsg.co.uk,Catherine Perceval (Bursar),250 to 499,1509 GROUP,False,2025/04/05 00:00:00,2025/03/28 11:23:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11251,ZSCALER UK LTD.,22454,"C/O Csc Cls (Uk) Limited 5 Churchill Place, 10...",E14 5HU,10299928,62090,36.40,16.30,37.40,25.40,...,24.00,86.00,14.00,NaN,Brendan Castle (Chief People Officer),250 to 499,ZSCALER UK LTD.,False,2025/04/05 00:00:00,2025/04/04 09:13:07
11252,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN1 1AP,00243883,"78300,\n82990",27.10,27.60,58.60,43.40,...,51.50,62.20,37.80,https://www.zurich.co.uk/about-us/diversity-an...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2025/04/05 00:00:00,2024/10/16 08:51:47
11253,ZURICH UK GENERAL SERVICES LIMITED,14078,"The Zurich Centre 3000 Parkway, Whiteley, Fare...",PO15 7JZ,03843124,82990,13.80,12.60,35.90,21.30,...,35.60,64.10,35.90,https://www.zurich.co.uk/about-us/diversity-an...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH UK GENERAL SERVICES LIMITED,False,2025/04/05 00:00:00,2024/10/16 08:55:41
11254,ZUTO LIMITED,14080,"Winterton House, Winterton Way, Macclesfield, ...",SK11 0LP,05722976,64999,20.20,12.30,11.30,23.80,...,21.70,72.80,27.20,https://www.zuto.com/gender-pay-report/2025,Mary Beighton (People and Culture Director),250 to 499,ZUTO LIMITED,False,2025/04/05 00:00:00,2025/04/01 10:18:03
11255,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY5 0BD,01032611,"10110,\n10130",18.60,3.20,90.00,0.00,...,44.10,69.70,30.30,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2025/04/05 00:00:00,2025/04/03 07:53:16

In [18]:
# How many rows and columns are there in the dataset?
pay_gap1.shape

(10570, 27)

In [19]:
# How many rows and columns are there in the dataset?
pay_gap2.shape

(10838, 27)

In [20]:
# How many rows and columns are there in the dataset?
pay_gap3.shape

(7055, 27)

In [21]:
# How many rows and columns are there in the dataset?
pay_gap4.shape

(10582, 27)

In [22]:
# How many rows and columns are there in the dataset?
pay_gap5.shape

(10564, 27)

In [23]:
# How many rows and columns are there in the dataset?
pay_gap6.shape

(10903, 27)

In [24]:
# How many rows and columns are there in the dataset?
pay_gap7.shape

(11155, 27)

In [25]:
# How many rows and columns are there in the dataset?
pay_gap8.shape

(11256, 27)

In [26]:
# What are the column names?
pay_gap1.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [27]:
# What are the column names?
pay_gap2.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [28]:
# What are the column names?
pay_gap3.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [29]:
# What are the column names?
pay_gap4.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [30]:
# What are the column names?
pay_gap5.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [31]:
# What are the column names?
pay_gap6.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [32]:
# What are the column names?
pay_gap7.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [33]:
# What are the column names?
pay_gap8.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

In [34]:
# Easy-to-read DataFrame of the data types
pd.DataFrame(pay_gap1.dtypes, columns=['DataTypes'])

                          DataTypes
EmployerName                 object
EmployerId                    int64
Address                      object
PostCode                     object
CompanyNumber                object
SicCodes                     object
DiffMeanHourlyPercent       float64
DiffMedianHourlyPercent     float64
DiffMeanBonusPercent        float64
DiffMedianBonusPercent      float64
MaleBonusPercent            float64
FemaleBonusPercent          float64
MaleLowerQuartile           float64
FemaleLowerQuartile         float64
MaleLowerMiddleQuartile     float64
FemaleLowerMiddleQuartile   float64
MaleUpperMiddleQuartile     float64
FemaleUpperMiddleQuartile   float64
MaleTopQuartile             float64
FemaleTopQuartile           float64
CompanyLinkToGPGInfo         object
ResponsiblePerson            object
EmployerSize                 object
CurrentName                  object
SubmittedAfterTheDeadline      bool
DueDate                      object
DateSubmitted                object

In [35]:
# Convert the column type from object to date
pay_gap1['DueDate'] = pd.to_datetime(pay_gap1['DueDate'])

In [36]:
# Convert the column type from object to date
pay_gap1['DateSubmitted'] = pd.to_datetime(pay_gap1['DateSubmitted'])

In [37]:
# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap1.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [38]:
# Easy-to-read DataFrame of the data types
pd.DataFrame(pay_gap2.dtypes, columns=['DataTypes'])

                          DataTypes
EmployerName                 object
EmployerId                    int64
Address                      object
PostCode                     object
CompanyNumber                object
SicCodes                     object
DiffMeanHourlyPercent       float64
DiffMedianHourlyPercent     float64
DiffMeanBonusPercent        float64
DiffMedianBonusPercent      float64
MaleBonusPercent            float64
FemaleBonusPercent          float64
MaleLowerQuartile           float64
FemaleLowerQuartile         float64
MaleLowerMiddleQuartile     float64
FemaleLowerMiddleQuartile   float64
MaleUpperMiddleQuartile     float64
FemaleUpperMiddleQuartile   float64
MaleTopQuartile             float64
FemaleTopQuartile           float64
CompanyLinkToGPGInfo         object
ResponsiblePerson            object
EmployerSize                 object
CurrentName                  object
SubmittedAfterTheDeadline      bool
DueDate                      object
DateSubmitted                object

In [39]:
# Convert the column type from object to date
pay_gap2['DueDate'] = pd.to_datetime(pay_gap2['DueDate'])

# Convert the column type from object to date
pay_gap2['DateSubmitted'] = pd.to_datetime(pay_gap2['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap2.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [40]:
# Convert the column type from object to date
pay_gap3['DueDate'] = pd.to_datetime(pay_gap3['DueDate'])

# Convert the column type from object to date
pay_gap3['DateSubmitted'] = pd.to_datetime(pay_gap3['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap3.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [41]:
# Convert the column type from object to date
pay_gap4['DueDate'] = pd.to_datetime(pay_gap4['DueDate'])

# Convert the column type from object to date
pay_gap4['DateSubmitted'] = pd.to_datetime(pay_gap4['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap4.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [42]:
# Convert the column type from object to date
pay_gap5['DueDate'] = pd.to_datetime(pay_gap5['DueDate'])

# Convert the column type from object to date
pay_gap5['DateSubmitted'] = pd.to_datetime(pay_gap5['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap5.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [43]:
# Convert the column type from object to date
pay_gap6['DueDate'] = pd.to_datetime(pay_gap6['DueDate'])

# Convert the column type from object to date
pay_gap6['DateSubmitted'] = pd.to_datetime(pay_gap6['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap6.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [44]:
# Convert the column type from object to date
pay_gap7['DueDate'] = pd.to_datetime(pay_gap7['DueDate'])

# Convert the column type from object to date
pay_gap7['DateSubmitted'] = pd.to_datetime(pay_gap7['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap7.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [45]:
# Convert the column type from object to date
pay_gap8['DueDate'] = pd.to_datetime(pay_gap8['DueDate'])

# Convert the column type from object to date
pay_gap8['DateSubmitted'] = pd.to_datetime(pay_gap8['DateSubmitted'])

# Easy-to-read DataFrame of the data types after converting the column type
pd.DataFrame(pay_gap8.dtypes, columns=['DataTypes'])

                                DataTypes
EmployerName                       object
EmployerId                          int64
Address                            object
PostCode                           object
CompanyNumber                      object
SicCodes                           object
DiffMeanHourlyPercent             float64
DiffMedianHourlyPercent           float64
DiffMeanBonusPercent              float64
DiffMedianBonusPercent            float64
MaleBonusPercent                  float64
FemaleBonusPercent                float64
MaleLowerQuartile                 float64
FemaleLowerQuartile               float64
MaleLowerMiddleQuartile           float64
FemaleLowerMiddleQuartile         float64
MaleUpperMiddleQuartile           float64
FemaleUpperMiddleQuartile         float64
MaleTopQuartile                   float64
FemaleTopQuartile                 float64
CompanyLinkToGPGInfo               object
ResponsiblePerson                  object
EmployerSize                       object
CurrentName                        object
SubmittedAfterTheDeadline            bool
DueDate                    datetime64[ns]
DateSubmitted              datetime64[ns]

In [46]:
# Display the amount of missing values in each column in descending order
pay_gap1.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         2774
ResponsiblePerson            1675
CompanyNumber                1347
SicCodes                      575
DiffMedianBonusPercent         32
DiffMeanBonusPercent           32
PostCode                       30
Address                         1
DiffMeanHourlyPercent           0
EmployerId                      0
EmployerName                    0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [47]:
# Display the amount of missing values in each column in descending order
pay_gap2.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         3392
DiffMeanBonusPercent         1767
DiffMedianBonusPercent       1767
ResponsiblePerson            1695
CompanyNumber                1335
SicCodes                      509
PostCode                       29
Address                         1
DiffMeanHourlyPercent           0
EmployerId                      0
EmployerName                    0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [48]:
# Display the amount of missing values in each column in descending order
pay_gap3.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         2319
DiffMedianBonusPercent       1759
DiffMeanBonusPercent         1757
ResponsiblePerson            1415
CompanyNumber                1088
SicCodes                      439
PostCode                       16
Address                         0
DiffMeanHourlyPercent           0
EmployerName                    0
EmployerId                      0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [49]:
# Display the amount of missing values in each column in descending order
pay_gap4.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         3573
DiffMeanBonusPercent         2656
DiffMedianBonusPercent       2656
ResponsiblePerson            1811
CompanyNumber                1357
SicCodes                      664
MaleLowerMiddleQuartile       200
FemaleLowerQuartile           200
MaleLowerQuartile             200
MaleUpperMiddleQuartile       200
FemaleUpperMiddleQuartile     200
FemaleTopQuartile             200
MaleTopQuartile               200
FemaleLowerMiddleQuartile     200
PostCode                       39
Address                        13
EmployerName                    0
DiffMeanHourlyPercent           0
EmployerId                      0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [50]:
# Display the amount of missing values in each column in descending order
pay_gap5.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         3674
DiffMeanBonusPercent         2827
DiffMedianBonusPercent       2827
ResponsiblePerson            1869
CompanyNumber                1407
SicCodes                      742
MaleLowerMiddleQuartile       199
FemaleLowerQuartile           199
MaleLowerQuartile             199
MaleUpperMiddleQuartile       199
FemaleUpperMiddleQuartile     199
FemaleTopQuartile             199
MaleTopQuartile               199
FemaleLowerMiddleQuartile     199
PostCode                       45
Address                        18
EmployerName                    0
DiffMeanHourlyPercent           0
EmployerId                      0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [51]:
# Display the amount of missing values in each column in descending order
pay_gap6.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         4599
DiffMeanBonusPercent         2693
DiffMedianBonusPercent       2693
ResponsiblePerson            1911
CompanyNumber                1439
SicCodes                      807
PostCode                       52
Address                        25
DiffMeanHourlyPercent           0
EmployerId                      0
EmployerName                    0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [52]:
# Display the amount of missing values in each column in descending order
pay_gap7.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         4968
DiffMeanBonusPercent         2680
DiffMedianBonusPercent       2680
ResponsiblePerson            1934
CompanyNumber                1460
SicCodes                      868
PostCode                       56
Address                        32
DiffMeanHourlyPercent           0
EmployerId                      0
EmployerName                    0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [53]:
# Display the amount of missing values in each column in descending order
pay_gap8.isnull().sum().sort_values(ascending = False)

CompanyLinkToGPGInfo         5194
DiffMeanBonusPercent         2723
DiffMedianBonusPercent       2723
ResponsiblePerson            1937
CompanyNumber                1483
SicCodes                      910
PostCode                       58
Address                        34
DiffMeanHourlyPercent           0
EmployerId                      0
EmployerName                    0
MaleBonusPercent                0
DiffMedianHourlyPercent         0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
MaleTopQuartile                 0
FemaleUpperMiddleQuartile       0
FemaleTopQuartile               0
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
DueDate                         0
DateSubmitted                   0
dtype: int64

In [54]:
# Finding total duplicated rows 
pay_gap1.duplicated().sum()

np.int64(0)

In [55]:
# Finding total duplicated rows 
pay_gap2.duplicated().sum()

np.int64(0)

In [56]:
# Finding total duplicated rows 
pay_gap3.duplicated().sum()

np.int64(0)

In [57]:
# Finding total duplicated rows 
pay_gap4.duplicated().sum()

np.int64(0)

In [58]:
# Finding total duplicated rows 
pay_gap5.duplicated().sum()

np.int64(0)

In [59]:
# Finding total duplicated rows 
pay_gap6.duplicated().sum()

np.int64(0)

In [60]:
# Finding total duplicated rows 
pay_gap7.duplicated().sum()

np.int64(0)

In [61]:
# Finding total duplicated rows 
pay_gap8.duplicated().sum()

np.int64(0)

In [62]:
# Remove BOTH single and double quotes
pay_gap1['EmployerName'] = pay_gap1['EmployerName'].str.replace("'", "", regex=False)
pay_gap1['EmployerName'] = pay_gap1['EmployerName'].str.replace('"', "", regex=False)

pay_gap1['CurrentName'] = pay_gap1['CurrentName'].str.replace("'", "", regex=False)
pay_gap1['CurrentName'] = pay_gap1['CurrentName'].str.replace('"', "", regex=False)

In [63]:
pay_gap1.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,18.0,28.2,0.0,0.0,...,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF10 4BZ,03951948,61900,1.7,2.8,13.1,13.6,...,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN31 1UL,10530651,78300,41.0,36.0,-69.8,-157.2,...,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA6 3JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26

In [64]:
# Remove BOTH single and double quotes
pay_gap2['EmployerName'] = pay_gap2['EmployerName'].str.replace("'", "", regex=False)
pay_gap2['EmployerName'] = pay_gap2['EmployerName'].str.replace('"', "", regex=False)

pay_gap2['CurrentName'] = pay_gap2['CurrentName'].str.replace("'", "", regex=False)
pay_gap2['CurrentName'] = pay_gap2['CurrentName'].str.replace('"', "", regex=False)

In [65]:
pay_gap2.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,PRIFYSGOL ABERYSTWYTH AND ABERYSTWYTH UNIVERSITY,19070,"Aberystwyth University, Penglais, Ceredigion, ...",SY23 3FL,RC000641,NaN,12.3,8.4,NaN,NaN,...,53.4,63.7,36.3,https://www.aber.ac.uk/en/equality/genderpayga...,Elizabeth Treasure (Vice-Chancellor),1000 to 4999,PRIFYSGOL ABERYSTWYTH AND ABERYSTWYTH UNIVERSITY,False,2019-04-05,2019-04-03 12:55:59
1,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT11 0PX,00226143,85310,19.6,32.5,NaN,NaN,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,BRYANSTON SCHOOL,False,2019-04-05,2019-04-03 13:43:34
2,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU",EH6 8NU,SC016876,47730,7.7,-4.2,23.7,-75.2,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2019-04-05,2019-04-01 12:37:21
3,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF10 4BZ,03951948,61900,7.7,12.7,11.3,10.9,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,2019-04-05,2019-03-06 13:26:24
4,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN31 1UL,10530651,78300,30.0,29.0,-10.0,69.0,...,83.0,25.0,75.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,False,2019-04-05,2019-04-03 15:43:17

In [66]:
# Remove BOTH single and double quotes
pay_gap3['EmployerName'] = pay_gap3['EmployerName'].str.replace("'", "", regex=False)
pay_gap3['EmployerName'] = pay_gap3['EmployerName'].str.replace('"', "", regex=False)

pay_gap3['CurrentName'] = pay_gap3['CurrentName'].str.replace("'", "", regex=False)
pay_gap3['CurrentName'] = pay_gap3['CurrentName'].str.replace('"', "", regex=False)

In [67]:
# Remove BOTH single and double quotes
pay_gap4['EmployerName'] = pay_gap4['EmployerName'].str.replace("'", "", regex=False)
pay_gap4['EmployerName'] = pay_gap4['EmployerName'].str.replace('"', "", regex=False)

pay_gap4['CurrentName'] = pay_gap4['CurrentName'].str.replace("'", "", regex=False)
pay_gap4['CurrentName'] = pay_gap4['CurrentName'].str.replace('"', "", regex=False)

In [68]:
# Remove BOTH single and double quotes
pay_gap5['EmployerName'] = pay_gap5['EmployerName'].str.replace("'", "", regex=False)
pay_gap5['EmployerName'] = pay_gap5['EmployerName'].str.replace('"', "", regex=False)

pay_gap5['CurrentName'] = pay_gap5['CurrentName'].str.replace("'", "", regex=False)
pay_gap5['CurrentName'] = pay_gap5['CurrentName'].str.replace('"', "", regex=False)

In [69]:
# Remove BOTH single and double quotes
pay_gap6['EmployerName'] = pay_gap6['EmployerName'].str.replace("'", "", regex=False)
pay_gap6['EmployerName'] = pay_gap6['EmployerName'].str.replace('"', "", regex=False)

pay_gap6['CurrentName'] = pay_gap6['CurrentName'].str.replace("'", "", regex=False)
pay_gap6['CurrentName'] = pay_gap6['CurrentName'].str.replace('"', "", regex=False)

In [70]:
# Remove BOTH single and double quotes
pay_gap7['EmployerName'] = pay_gap7['EmployerName'].str.replace("'", "", regex=False)
pay_gap7['EmployerName'] = pay_gap7['EmployerName'].str.replace('"', "", regex=False)

pay_gap7['CurrentName'] = pay_gap7['CurrentName'].str.replace("'", "", regex=False)
pay_gap7['CurrentName'] = pay_gap7['CurrentName'].str.replace('"', "", regex=False)

In [71]:
# Remove BOTH single and double quotes
pay_gap8['EmployerName'] = pay_gap8['EmployerName'].str.replace("'", "", regex=False)
pay_gap8['EmployerName'] = pay_gap8['EmployerName'].str.replace('"', "", regex=False)

pay_gap8['CurrentName'] = pay_gap8['CurrentName'].str.replace("'", "", regex=False)
pay_gap8['CurrentName'] = pay_gap8['CurrentName'].str.replace('"', "", regex=False)

In [72]:
# union all the tables 
pay_gap = pd.concat(
    [pay_gap1, pay_gap2, pay_gap3, pay_gap4, pay_gap5, pay_gap6, pay_gap7, pay_gap8],
    ignore_index=True
)

In [73]:
# How many rows and columns after union
pay_gap.shape

(82923, 27)

In [74]:
# To know the types of the data
pay_gap.dtypes

EmployerName                         object
EmployerId                            int64
Address                              object
PostCode                             object
CompanyNumber                        object
SicCodes                             object
DiffMeanHourlyPercent               float64
DiffMedianHourlyPercent             float64
DiffMeanBonusPercent                float64
DiffMedianBonusPercent              float64
MaleBonusPercent                    float64
FemaleBonusPercent                  float64
MaleLowerQuartile                   float64
FemaleLowerQuartile                 float64
MaleLowerMiddleQuartile             float64
FemaleLowerMiddleQuartile           float64
MaleUpperMiddleQuartile             float64
FemaleUpperMiddleQuartile           float64
MaleTopQuartile                     float64
FemaleTopQuartile                   float64
CompanyLinkToGPGInfo                 object
ResponsiblePerson                    object
EmployerSize                         object
CurrentName                          object
SubmittedAfterTheDeadline              bool
DueDate                      datetime64[ns]
DateSubmitted                datetime64[ns]
dtype: object

In [75]:
# Cleaning text columns
cleaned_text_columns = ['EmployerName', 'Address', 'PostCode', 'CompanyNumber', 'SicCodes','CompanyLinkToGPGInfo', 'ResponsiblePerson', 'EmployerSize', 'CurrentName'
]
for i in cleaned_text_columns:
    pay_gap[i] = (
        pay_gap[i]
        .astype(str)
        .str.strip()                      
        .str.replace(r"['\"]", "", regex=True) 
        .str.replace(r"\s+", " ", regex=True))

In [76]:
# Cleaning company number
pay_gap['CompanyNumber'] = (
    pay_gap['CompanyNumber']
    .str.replace(" ", "", regex=False)
    .str.strip()
)

In [77]:
# Cleaning post code, it should be trimmed and uppercase
pay_gap['PostCode'] = (
    pay_gap['PostCode']
    .str.upper()
    .str.replace(" ", "")
)

In [78]:
# Cleaning SIC code
pay_gap['SicCodes'] = (
    pay_gap['SicCodes']
    .str.replace(r"['\"]", "", regex=True)
    .str.replace(" ", "")
    .str.upper()
)

In [79]:
# Making a new column Dayslate 
pay_gap['DaysLate'] = np.where(
    pay_gap['SubmittedAfterTheDeadline'] == True,
    (pay_gap['DateSubmitted'] - pay_gap['DueDate']).dt.days,  
    0  
)

In [80]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,...,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,18.1,81.9,nan,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,...,58.0,42.0,nan,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,...,23.0,77.0,nan,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7

In [81]:
# Making sure its trooly boolean in all rows
pay_gap['SubmittedAfterTheDeadline'] = pay_gap['SubmittedAfterTheDeadline'].astype(bool)

In [82]:
pay_gap.dtypes

EmployerName                         object
EmployerId                            int64
Address                              object
PostCode                             object
CompanyNumber                        object
SicCodes                             object
DiffMeanHourlyPercent               float64
DiffMedianHourlyPercent             float64
DiffMeanBonusPercent                float64
DiffMedianBonusPercent              float64
MaleBonusPercent                    float64
FemaleBonusPercent                  float64
MaleLowerQuartile                   float64
FemaleLowerQuartile                 float64
MaleLowerMiddleQuartile             float64
FemaleLowerMiddleQuartile           float64
MaleUpperMiddleQuartile             float64
FemaleUpperMiddleQuartile           float64
MaleTopQuartile                     float64
FemaleTopQuartile                   float64
CompanyLinkToGPGInfo                 object
ResponsiblePerson                    object
EmployerSize                         object
CurrentName                          object
SubmittedAfterTheDeadline              bool
DueDate                      datetime64[ns]
DateSubmitted                datetime64[ns]
DaysLate                              int64
dtype: object

In [83]:
# Checking for duplicates after concating
pay_gap.duplicated().sum()

np.int64(0)

In [84]:
# Define all null-like values
null_values = ['NAN', 'NaN', 'NULL', 'None', '', ' ']

# Replace them with proper NaN for the entire dataframe
pay_gap = pay_gap.replace(null_values, np.nan)

# Optional: strip whitespace from all string columns
for col in pay_gap.select_dtypes(include='object'):
    pay_gap[col] = pay_gap[col].str.strip()

In [85]:
# Example: standardize nulls in the whole DataFrame
# Replace common null representations with np.nan
pay_gap.replace(
    to_replace=["NAN", "nan", "None", "none", "", " "],
    value=np.nan,
    inplace=True
)

In [86]:
# Checking for nulls after concating
pay_gap.isnull().sum().mean() * 100

np.float64(353867.85714285716)

In [87]:
# Which column has the most missing data?
# Display the percentage of missing values in each column in descending order
((pay_gap.isnull().mean()) * 100).sort_values(ascending = False)

CompanyLinkToGPGInfo         36.772669
DiffMedianBonusPercent       20.666160
DiffMeanBonusPercent         20.663748
ResponsiblePerson            17.180999
CompanyNumber                13.164020
SicCodes                      6.649542
FemaleLowerMiddleQuartile     0.481169
MaleLowerMiddleQuartile       0.481169
FemaleLowerQuartile           0.481169
MaleLowerQuartile             0.481169
FemaleUpperMiddleQuartile     0.481169
MaleUpperMiddleQuartile       0.481169
FemaleTopQuartile             0.481169
MaleTopQuartile               0.481169
PostCode                      0.391930
Address                       0.149536
EmployerId                    0.000000
EmployerName                  0.000000
DiffMeanHourlyPercent         0.000000
DiffMedianHourlyPercent       0.000000
FemaleBonusPercent            0.000000
MaleBonusPercent              0.000000
EmployerSize                  0.000000
CurrentName                   0.000000
SubmittedAfterTheDeadline     0.000000
DueDate                       0.000000
DateSubmitted                 0.000000
DaysLate                      0.000000
dtype: float64

In [88]:
pay_gap['EmployerName'].nunique()

17941

In [89]:
pay_gap.shape

(82923, 28)

In [94]:
# Import SIC CODE csv file into python using pandas and save it as Industry
Industry = pd.read_csv('SIC.csv', dtype = str)
Industry

    SIC Code                                        Description
0      01110  Growing of cereals (except rice), leguminous c...
1      01120                                    Growing of rice
2      01130  Growing of vegetables and melons, roots and tu...
3      01140                              Growing of sugar cane
4      01150                                 Growing of tobacco
..       ...                                                ...
726    98000                      Residents property management
727    98100  Undifferentiated goods-producing activities of...
728    98200  Undifferentiated service-producing activities ...
729    99000  Activities of extraterritorial organizations a...
730    99999                                    Dormant Company

[731 rows x 2 columns]

In [95]:
# Using SIC code to know the industry name
# Make sure SicCodes column is string
pay_gap['SicCodes'] = pay_gap['SicCodes'].astype(str)

# Merge with SIC lookup
pay_gap = pay_gap.merge(Industry[['SIC Code', 'Description']], 
                        left_on='SicCodes', right_on='SIC Code', 
                        how='left')

# Rename column
pay_gap.rename(columns={'Description': 'IndustryDescription'}, inplace=True)

In [96]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,SIC Code,IndustryDescription
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,...,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0,85310,General secondary education
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0,47730,Dispensing chemist in specialised stores
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,...,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0,61900,Other telecommunications activities
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,...,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29,78300,Human resources provision and management of hu...
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7,93110,Operation of sports facilities

In [97]:
# Drop the merged SICCode column
pay_gap = pay_gap.drop(columns=['SIC Code'])

In [98]:
# Renaming Industry Description Column
pay_gap.rename(columns={'IndustryDescription': 'Industry'}, inplace=True)

In [99]:
pay_gap = pay_gap.loc[:, ~pay_gap.columns.duplicated()]

In [100]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,...,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,Industry
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,...,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0,General secondary education
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,...,81.9,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0,Dispensing chemist in specialised stores
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,...,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0,Other telecommunications activities
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,...,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29,Human resources provision and management of hu...
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,...,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7,Operation of sports facilities

In [101]:
# Display all columns
pd.set_option('display.max_columns', None)

In [102]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,Industry
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,24.4,75.6,50.8,49.2,49.2,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0,General secondary education
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,20.3,79.7,25.4,74.6,10.3,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0,Dispensing chemist in specialised stores
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,51.0,49.0,53.0,47.0,50.0,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0,Other telecommunications activities
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,0.0,100.0,2.0,98.0,11.0,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29,Human resources provision and management of hu...
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,56.0,44.0,52.0,48.0,30.0,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7,Operation of sports facilities

In [103]:
pay_gap['Industry'].nunique()

540

In [104]:
pay_gap['Industry'].isnull().sum()

np.int64(33052)

In [105]:
# Todisplay where industry rows is null
pay_gap[pay_gap['Industry'].isna()]

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,Industry
5,1879 EVENTS MANAGEMENT LIMITED,17101,"The Sunderland Stadium Of Light, Sunderland, T...",SR51SU,07743495,"56210,70229",13.4,8.1,41.4,43.7,8.7,3.2,29.1,70.9,49.4,50.6,22.8,77.2,58.2,41.8,https://www.safc.com/news/club-news/2018/march...,Jo Graham (Deputy HR Manager),250 to 499,1879 EVENTS MANAGEMENT LIMITED,False,2018-04-05,2018-03-29 15:32:33,0,NaN
6,1LIFE MANAGEMENT SOLUTIONS LIMITED,687,"The Stables, Duxbury Park, Duxbury Hall Road, ...",PR74AT,02566586,"93110,93130,93290",15.1,2.8,77.6,71.2,5.8,4.2,42.6,57.4,45.2,54.8,46.8,53.2,35.5,64.5,http://www.1life.co.uk/gender-pay-gap,Mark Braithwaite (Managing Director),500 to 999,1LIFE MANAGEMENT SOLUTIONS LIMITED,False,2018-04-05,2018-03-07 12:01:05,0,NaN
7,1ST HOME CARE LTD.,17484,"Suite 1, Ground Floor Academy House, 1346 Shet...",G329AT,SC272838,"86900,88100",15.0,0.0,0.0,0.0,0.0,0.0,10.0,90.0,9.0,91.0,10.0,90.0,9.0,91.0,https://www.1sthomecare.co.uk,John McDonald (Executive Director),250 to 499,1ST HOME CARE LTD.,False,2018-04-05,2018-04-04 12:28:10,0,NaN
9,2 AGRICULTURE LIMITED,14399,"Fairview Mill, Ingliston, Newbridge, Midlothia...",EH288NB,SC156515,"1470,10910",13.4,8.5,62.9,0.0,89.7,73.3,89.1,10.9,95.3,4.7,98.5,1.5,93.8,6.2,http://www.2agriculture.com/,Gavin Berry (Managing Director),250 to 499,2 AGRICULTURE LIMITED,False,2018-04-05,2018-03-22 10:46:20,0,NaN
17,2Gether N H S Foundation Trust,696,"Rikenel, Montpellier, Gloucester, Gloucestersh...",GL11LY,NaN,"1,86210",20.8,16.1,15.1,41.5,60.0,46.0,17.6,82.4,18.1,81.9,21.8,78.2,34.6,65.4,https://www.2gether.nhs.uk/equality-and-divers...,NaN,1000 to 4999,2Gether N H S Foundation Trust,False,2018-03-31,2018-03-29 10:34:32,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82913,ZOOPLA LIMITED,22511,"The Cooperage, 5 Copper Row, London, England, ...",SE12LH,06074771,"62090,63110,63120",16.8,21.4,33.3,26.8,86.0,93.0,46.0,54.0,56.0,44.0,71.0,29.0,68.0,32.0,NaN,Emma Baker (Director of People Operations (Dat...,500 to 999,ZOOPLA LIMITED,False,2025-04-05,2025-04-03 10:40:07,0,NaN
82916,ZOTEFOAMS PLC,14074,"675 Mitcham Road, Croydon, CR9 3AL",CR93AL,02714645,"22290,70100",11.8,-8.1,48.6,-1.1,90.0,92.0,88.0,12.0,79.0,21.0,76.0,24.0,83.0,17.0,https://www.zotefoams.com/wp-content/uploads/2...,Clare Farmer (Group Chief People Officer),250 to 499,ZOTEFOAMS PLC,False,2025-04-05,2025-04-04 08:24:04,0,NaN
82917,"ZS ASSOCIATES INTERNATIONAL,INC.",22308,"One New Ludgate 60 Ludgate Hill, London, EC4M 7AW",EC4M7AW,BR000697,nan,20.8,21.3,81.2,34.5,100.0,98.5,43.8,56.2,49.3,50.7,64.4,35.6,68.5,31.5,https://www.zs.com/europe/zs-uk-gender-pay-rep...,Oriana Vogel (Chief People Officer),250 to 499,"ZS ASSOCIATES INTERNATIONAL,INC.",False,2025-04-05,2025-04-04 14:05:04,0,NaN
82919,ZURICH EMPLOYMENT SERVICES LIMITED,14076,"Unity Place, 1 Carfax Close, Swindon, Wiltshir...",SN11AP,00243883,"78300,82990",27.1,27.6,58.6,43.4,96.5,94.9,32.0,68.0,37.2,62.8,48.5,51.5,62.2,37.8,https://www.zurich.co.uk/about-us/diversity-an...,Steve Collinson (Head of People Team),1000 to 4999,ZURICH EMPLOYMENT SERVICES LIMITED,False,2025-04-05,2024-10-16 08:51:47,0,NaN
82922,ZWANENBERG FOOD GROUP UK LIMITED,14081,"Station Road, Minsterley, Shrewsbury, Shropshi...",SY50BD,01032611,"10110,10130",18.6,3.2,90.0,0.0,65.3,68.8,37.9,62.1,62.1,37.9,55.9,44.1,69.7,30.3,NaN,Jonathan Ashmore (CEO),500 to 999,ZWANENBERG FOOD GROUP UK LIMITED,False,2025-04-05,2025-04-03 07:53:16,0,NaN

In [106]:
pay_gap.columns

Index(['EmployerName', 'EmployerId', 'Address', 'PostCode', 'CompanyNumber',
       'SicCodes', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted', 'DaysLate',
       'Industry'],
      dtype='object')

In [107]:
# Remove any leading '1,' or whitespace from the SIC codes
def clean_sic_codes(sic_str):
    if pd.isna(sic_str):
        return None
    # Split by comma in case there are multiple codes
    codes = [code.strip() for code in str(sic_str).split(',')]
    # Remove any '1' entries
    codes = [code for code in codes if code != '1' and code != '']
    # Join back as comma-separated string if multiple
    return ','.join(codes) if codes else None

# Apply to your SIC column
pay_gap['SicCodes'] = pay_gap['SicCodes'].apply(clean_sic_codes)

In [108]:
# Function to map SIC codes to UK sections From A-U
def map_sic_section(sic_code):
    try:
        prefix = int(str(sic_code)[:2])
    except:
        return 'Other / Unknown'
    
    if 1 <= prefix <= 3:
        return 'Agriculture, Forestry and Fishing'
    elif 5 <= prefix <= 9:
        return 'Mining and Quarrying'
    elif 10 <= prefix <= 33:
        return 'Manufacturing'
    elif 35 <= prefix <= 35:
        return 'Electricity, Gas, Steam and Air Conditioning Supply'
    elif 36 <= prefix <= 39:
        return 'Water Supply; Sewerage, Waste Management and Remediation Activities'
    elif 41 <= prefix <= 43:
        return 'Construction'
    elif 45 <= prefix <= 47:
        return 'Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles'
    elif 49 <= prefix <= 53:
        return 'Transportation and Storage'
    elif 55 <= prefix <= 56:
        return 'Accommodation and Food Service Activities'
    elif 58 <= prefix <= 63:
        return 'Information and Communication'
    elif 64 <= prefix <= 66:
        return 'Financial and Insurance Activities'
    elif 68 <= prefix <= 75:
        return 'Real Estate, Professional, Scientific and Technical Activities'
    elif 77 <= prefix <= 82:
        return 'Administrative and Support Service Activities'
    elif 84 <= prefix <= 88:
        return 'Public Administration and Defence; Compulsory Social Security'
    elif 90 <= prefix <= 93:
        return 'Arts, Entertainment and Recreation'
    elif 94 <= prefix <= 96:
        return 'Other Service Activities'
    elif 97 <= prefix <= 98:
        return 'Activities of Households as Employers; Undifferentiated Goods- and Services-Producing Activities of Households for Own Use'
    elif prefix == 99:
        return 'Activities of Extraterritorial Organisations and Bodies'
    else:
        return 'Other / Unknown'

# Apply the function to SIC code column
pay_gap['IndustrySection'] = pay_gap['SicCodes'].apply(map_sic_section)

In [109]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,Industry,IndustrySection
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,24.4,75.6,50.8,49.2,49.2,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0,General secondary education,Public Administration and Defence; Compulsory ...
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,20.3,79.7,25.4,74.6,10.3,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0,Dispensing chemist in specialised stores,Wholesale and Retail Trade; Repair of Motor Ve...
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,51.0,49.0,53.0,47.0,50.0,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0,Other telecommunications activities,Information and Communication
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,0.0,100.0,2.0,98.0,11.0,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29,Human resources provision and management of hu...,Administrative and Support Service Activities
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,56.0,44.0,52.0,48.0,30.0,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7,Operation of sports facilities,"Arts, Entertainment and Recreation"

In [110]:
# Standardize missing values in the 'SicCodes' column
pay_gap['SicCodes'] = pay_gap['SicCodes'].replace(['nan', 'NaN', 'None', None], np.nan)

In [111]:
# Check how many missing SIC codes you have now
pay_gap['SicCodes'].isna().sum()

np.int64(6549)

In [112]:
pay_gap['Industry'].value_counts()

Industry
Other business support service activities n.e.c.                      3459
Activities of head offices                                            1790
Temporary employment agency activities                                1437
Other human health activities                                         1407
General secondary education                                           1121
                                                                      ...
Film processing                                                          1
Freight air transport                                                    1
Manufacture of printing ink                                              1
Motion picture, television and other theatrical casting activities       1
Printing of newspapers                                                   1
Name: count, Length: 540, dtype: int64

In [113]:
# Renaming Industry and Industry Section Columns
pay_gap.rename(columns={
    'Industry': 'IndustryName',
    'IndustrySection': 'Industry'
}, inplace=True)

In [114]:
pay_gap['Industry'].isnull().sum()

np.int64(0)

In [115]:
pay_gap['Industry'].nunique()

17

In [116]:
pay_gap['Industry'].unique()

array(['Public Administration and Defence; Compulsory Social Security',
       'Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles',
       'Information and Communication',
       'Administrative and Support Service Activities',
       'Arts, Entertainment and Recreation',
       'Accommodation and Food Service Activities', 'Manufacturing',
       'Transportation and Storage',
       'Real Estate, Professional, Scientific and Technical Activities',
       'Construction', 'Other Service Activities',
       'Financial and Insurance Activities', 'Other / Unknown',
       'Activities of Extraterritorial Organisations and Bodies',
       'Water Supply; Sewerage, Waste Management and Remediation Activities',
       'Electricity, Gas, Steam and Air Conditioning Supply',
       'Activities of Households as Employers; Undifferentiated Goods- and Services-Producing Activities of Households for Own Use'],
      dtype=object)

In [117]:
pay_gap.head()

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,IndustryName,Industry
0,"Bryanston School,Incorporated",676,"Bryanston House, Blandford, Dorset, DT11 0PX",DT110PX,00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,24.4,75.6,50.8,49.2,49.2,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,BRYANSTON SCHOOL,False,2018-04-05,2018-03-27 11:42:49,0,General secondary education,Public Administration and Defence; Compulsory ...
1,"RED BAND CHEMICAL COMPANY, LIMITED",16879,"19 Smiths Place, Leith Walk, Edinburgh, EH6 8NU",EH68NU,SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,20.3,79.7,25.4,74.6,10.3,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"RED BAND CHEMICAL COMPANY, LIMITED",False,2018-04-05,2018-03-28 16:44:25,0,Dispensing chemist in specialised stores,Wholesale and Retail Trade; Repair of Motor Ve...
2,118 LIMITED,681,"5th Floor, 1 Capital Quarter, Tyndall Street, ...",CF104BZ,03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,51.0,49.0,53.0,47.0,50.0,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False,2018-04-05,2018-03-27 19:10:41,0,Other telecommunications activities,Information and Communication
3,123 EMPLOYEES LTD,17677,"Alexandra Dock Business Centre, Fishermans Wha...",DN311UL,10530651,78300,41.0,36.0,-69.8,-157.2,50.0,73.5,0.0,100.0,2.0,98.0,11.0,89.0,23.0,77.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,True,2018-04-05,2018-05-04 11:24:06,29,Human resources provision and management of hu...,Administrative and Support Service Activities
4,1610 LIMITED,682,"Trinity Sports And Leisure, Chilton Street, Br...",TA63JA,06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,56.0,44.0,52.0,48.0,30.0,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True,2018-04-05,2018-04-12 17:03:26,7,Operation of sports facilities,"Arts, Entertainment and Recreation"

In [118]:
import re

# Example: full postcode cleaning
def extract_area(postcode):
    if pd.isna(postcode):
        return None
    postcode = postcode.upper().strip()
    # Extract first 1-2 letters at the start
    match = re.match(r'^([A-Z]{1,2})', postcode)
    return match.group(1) if match else None

pay_gap['PostcodeArea'] = pay_gap['PostCode'].apply(extract_area)

In [119]:
def extract_postcode_area(pc):
    if pd.isna(pc):
        return np.nan
    
    match = re.match(r"^[A-Z]{1,2}", pc)
    return match.group(0) if match else np.nan

pay_gap['PostcodeArea'] = pay_gap['PostCode'].apply(extract_postcode_area)

In [120]:
# Mapping dictionary
postcode_region_map = {
    'AB':'Scotland', 'AL':'East of England', 'B':'West Midlands', 'BA':'South West',
    'BB':'North West', 'BD':'North West', 'BH':'South West', 'BL':'North West',
    'BN':'South East', 'BR':'London', 'BS':'South West', 'BT':'Northern Ireland',
    'CA':'North West', 'CB':'East of England', 'CF':'Wales', 'CH':'North West',
    'CM':'East of England', 'CO':'East of England', 'CR':'London', 'CT':'South East',
    'CV':'West Midlands', 'CW':'North West', 'DA':'London', 'DD':'Scotland',
    'DE':'East Midlands', 'DG':'Scotland', 'DH':'North East', 'DL':'North East',
    'DN':'Yorkshire and the Humber', 'DT':'South West', 'DY':'West Midlands',
    'E':'London', 'EC':'London', 'EH':'Scotland', 'EN':'East of England',
    'EX':'South West', 'FK':'Scotland', 'FY':'North West', 'G':'Scotland',
    'GL':'South West', 'GU':'South East', 'HA':'London', 'HD':'Yorkshire and the Humber',
    'HG':'Yorkshire and the Humber', 'HP':'South East', 'HR':'West Midlands',
    'HS':'Scotland', 'HU':'Yorkshire and the Humber', 'HX':'Yorkshire and the Humber',
    'IG':'London', 'IP':'East of England', 'IV':'Scotland', 'KA':'Scotland',
    'KT':'London', 'KW':'Scotland', 'L':'North West', 'LA':'North West',
    'LD':'Wales', 'LE':'East Midlands', 'LL':'Wales', 'LN':'East Midlands',
    'LS':'Yorkshire and the Humber', 'LU':'East of England', 'M':'North West',
    'ME':'South East', 'MK':'South East', 'ML':'Scotland', 'N':'London',
    'NE':'North East', 'NG':'East Midlands', 'NN':'East Midlands', 'NP':'Wales',
    'NR':'East of England', 'NW':'London', 'OL':'North West', 'OX':'South East',
    'PA':'Scotland', 'PE':'East of England', 'PH':'Scotland', 'PL':'South West',
    'PO':'South East', 'PR':'North West', 'RG':'South East', 'RH':'South East',
    'RM':'London', 'S':'Yorkshire and the Humber', 'SA':'Wales', 'SE':'London',
    'SG':'East of England', 'SK':'North West', 'SL':'South East', 'SM':'London',
    'SN':'South West', 'SO':'South East', 'SP':'South West', 'SR':'North East',
    'SS':'East of England', 'ST':'West Midlands', 'SW':'London', 'SY':'West Midlands',
    'TA':'South West', 'TD':'Scotland', 'TF':'West Midlands', 'TN':'South East',
    'TQ':'South West', 'TR':'South West', 'TS':'North East', 'TW':'London',
    'UB':'London', 'W':'London', 'WA':'North West', 'WC':'London', 'WD':'London',
    'WF':'Yorkshire and the Humber', 'WN':'North West', 'WR':'West Midlands',
    'WS':'West Midlands', 'WV':'West Midlands', 'YO':'Yorkshire and the Humber',
    'ZE':'Scotland',

    # Crown Dependencies
    'JE':'Channel Islands',      # Jersey
    'GY':'Channel Islands',      # Guernsey, Alderney, Sark, Herm
    'IM':'Isle of Man',

    # British Forces
    'BF':'British Forces',

    # Non-geographic (rarely used)
    'BX':'Non-geographic',
    'XX':'Non-geographic',
    'KY': 'Scotland',
    
    # Dublin
    'D01':'Dublin', 'D02':'Dublin', 'D03':'Dublin', 'D04':'Dublin',
    'D05':'Dublin', 'D06':'Dublin', 'D06W':'Dublin', 'D07':'Dublin',
    'D08':'Dublin', 'D09':'Dublin', 'D10':'Dublin', 'D11':'Dublin',
    'D12':'Dublin', 'D13':'Dublin', 'D14':'Dublin', 'D15':'Dublin',
    'D16':'Dublin', 'D17':'Dublin', 'D18':'Dublin', 'D20':'Dublin',
    'D22':'Dublin', 'D24':'Dublin',

    # Cork
    'T12':'Cork City', 'T23':'Cork City', 'P31':'Ballincollig (Cork)',
    'P32':'Blarney (Cork)', 'P43':'Carrigaline (Cork)', 'P51':'Mallow (Cork)',
    'P61':'Fermoy (Cork)', 'P67':'Mitchelstown (Cork)', 'P72':'Bandon (Cork)',
    'P75':'Bantry (Cork)', 'P81':'Skibbereen (Cork)', 'P85':'Clonakilty (Cork)',

    # Galway
    'H91':'Galway',

    # Limerick
    'V94':'Limerick',

    # Wexford
    'Y21':'Wexford', 'Y25':'Gorey (Wexford)',

    # Waterford
    'X91':'Waterford',

    # Kildare
    'W12':'Kildare', 'W23':'Kildare', 'W91':'Kildare',

    # Mayo
    'F23':'Castlebar (Mayo)', 'F26':'Ballina (Mayo)', 'F28':'Westport (Mayo)',

    # Donegal
    'F92':'Letterkenny (Donegal)', 'F93':'Inishowen (Donegal)',

    # Meath
    'C15':'Navan (Meath)',

    # Kilkenny
    'R95':'Kilkenny',

    # Laois
    'R32':'Laois',

    # Tipperary
    'E41':'Tipperary', 'E45':'Nenagh (Tipperary)', 'E53':'Roscrea (Tipperary)',

    # Offaly
    'R35':'Tullamore (Offaly)', 'R42':'Birr (Offaly)', 'R45':'Edenderry (Offaly)',

    # Longford
    'N39':'Longford',

    # Westmeath
    'N91':'Westmeath',

    # Louth
    'A91':'Dundalk (Louth)', 'A92':'Drogheda (Louth)',

    # Carlow
    'R21':'Carlow',

    # Clare
    'V95':'Clare',

    # Kerry
    'V92':'Tralee (Kerry)', 'V93':'Killarney (Kerry)',

    # Sligo
    'F91':'Sligo',

    # Leitrim
    'N41':'Carrick-on-Shannon (Leitrim)',

    # Roscommon
    'F42':'Athleague (Roscommon)', 'F45':'Castlerea (Roscommon)', 'F52':'Boyle (Roscommon)',

    # Cavan
    'H12':'Cavan', 'H14':'Cavan',

    # Monaghan
    'H18':'Monaghan',

    # Wicklow
    'A63':'Greystones (Wicklow)', 'A67':'Wicklow Town', 'A98':'Bray',

    # Kildare / Wicklow overlap
    'A86':'Kildare/Wicklow',
}

# Extract postcode area first
def extract_area(postcode):
    if pd.isna(postcode):
        return None
    postcode = postcode.upper().strip()
    match = re.match(r'^([A-Z]{1,2})', postcode)
    return match.group(1) if match else None

pay_gap['PostcodeArea'] = pay_gap['PostCode'].apply(extract_area)

# Map to region
pay_gap['Region'] = pay_gap['PostcodeArea'].map(postcode_region_map)

# Check remaining nulls
print(pay_gap['Region'].isna().sum())

363

In [121]:
# Function to get region from address (case-insensitive)
def get_region_from_address(address):
    if pd.isna(address):
        return np.nan
    
    address_lower = address.lower()
    # Keyword-based mapping
     # Keyword-based mapping
    if any(keyword in address_lower for keyword in ['spain', 'madrid']):
        return 'Spain'
    elif any(keyword in address_lower for keyword in ['germany', 'munich']):
        return 'Germany'
    elif any(keyword in address_lower for keyword in ['switzerland', 'basel']):
        return 'Switzerland'
    elif any(keyword in address_lower for keyword in ['usa', 'boston', 'wilmington', 'new york', 'lexington', 'beltsville', 'maryland']):
        return 'USA'
    elif 'dublin' in address_lower or 'ireland' in address_lower:
        return 'Ireland'
    elif any(keyword in address_lower for keyword in ['mumbai', 'maharashtra', 'mahar']):
        return 'India'
    elif any(keyword in address_lower for keyword in ['norwich', 'wolverhampton', 'sheffield', 'buckshaw', 'lichfield', 'st h', 'london', 'slough', 'ryde', 'bath', 'swindon', 'st. john street', 'cardiff', 'scotland', 'gr']):  # gr -> Grangemouth or other Scottish addresses
        return 'UK'
    elif 'the hague' in address_lower or 'netherlands' in address_lower:
        return 'Netherlands'
    elif 'luxembourg' in address_lower:
        return 'Luxembourg'
    elif 'bermuda' in address_lower or 'hamilton' in address_lower:
        return 'Bermuda'
    elif 'brussels' in address_lower or 'belgium' in address_lower:
        return 'Belgium'
    elif 'gibraltar' in address_lower:
        return 'Gibraltar'
    elif 'france' in address_lower or 'paris' in address_lower:
        return 'France'
    elif 'stockholm' in address_lower or 'sweden' in address_lower:
        return 'Sweden'
    elif 'tokyo' in address_lower or 'japan' in address_lower:
        return 'Japan'
    elif 'sydney' in address_lower or 'australia' in address_lower:
        return 'Australia'
    else:
        return np.nan

# Only update Region where it's NaN
mask = pay_gap['Region'].isna()
pay_gap.loc[mask, 'Region'] = pay_gap.loc[mask, 'Address'].apply(get_region_from_address)

(pay_gap['Region'].isna().sum())

np.int64(136)

In [122]:
pay_gap[pay_gap['Region'].isnull()]

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,IndustryName,Industry,PostcodeArea,Region
1930,CHOICES HOUSING ASSOCIATION LIMITED,21345,NaN,NaN,IP26995R,NaN,0.00,0.00,33.0,0.0,45.3,30.3,11.8,88.2,18.8,81.2,15.60,84.40,15.60,84.40,https://choiceshousing.co.uk/wp-content/upload...,Paul Birch (Head of Human Resources),500 to 999,CHOICES HOUSING ASSOCIATION LIMITED,False,2018-04-05,2023-05-30 10:04:01,0,NaN,Other / Unknown,None,NaN
6779,PAPERCHASE PRODUCTS LIMITED,9550,"C/O Pwc Llp C/O Pwc Llp, Central Square 29 Wel...",NaN,03185938,47620,26.50,3.00,55.4,73.5,29.7,19.3,12.8,87.2,16.6,83.4,19.90,80.10,27.10,72.90,https://www.paperchase.co.uk,Duncan Gibson (CEO),1000 to 4999,PAPERCHASE PRODUCTS LIMITED,False,2018-04-05,2018-03-22 17:01:30,0,Retail sale of newspapers and stationery in sp...,Wholesale and Retail Trade; Repair of Motor Ve...,None,NaN
9211,The Oaklea Trust,12493,"Third Floor, East Wing, Station House, Station...",NaN,04416344,87200,8.80,-4.20,0.0,0.0,0.0,0.0,27.7,72.3,20.8,79.2,13.90,86.10,24.80,75.20,NaN,Helen Wilson (HR Manager),250 to 499,THE OAKLEA TRUST,False,2018-04-05,2018-03-16 10:46:45,0,Residential care activities for learning diffi...,Public Administration and Defence; Compulsory ...,None,NaN
12574,CHOICES HOUSING ASSOCIATION LIMITED,21345,NaN,NaN,IP26995R,NaN,-1.80,0.00,-17.0,0.0,14.7,16.1,16.7,83.3,11.6,88.4,13.80,86.20,12.30,87.70,https://www.wrekinhousingtrust.org.uk/Docs/Gen...,Paul Birch (Head of Human Resources),500 to 999,CHOICES HOUSING ASSOCIATION LIMITED,False,2019-04-05,2023-05-30 10:09:07,0,NaN,Other / Unknown,None,NaN
17532,PAPERCHASE PRODUCTS LIMITED,9550,"C/O Pwc Llp C/O Pwc Llp, Central Square 29 Wel...",NaN,03185938,47620,28.30,3.40,39.6,74.9,34.4,15.2,11.8,88.2,12.0,88.0,18.70,81.30,25.90,74.10,https://www.paperchase.com/en_gb/gpg-report,Duncan Gibson (CEO),1000 to 4999,PAPERCHASE PRODUCTS LIMITED,False,2019-04-05,2019-04-03 18:02:25,0,Retail sale of newspapers and stationery in sp...,Wholesale and Retail Trade; Repair of Motor Ve...,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81510,THE OAKLEA TRUST,12493,"Third Floor, East Wing, Station House, Station...",NaN,04416344,"85600,87200",4.25,0.00,NaN,NaN,0.0,0.0,20.0,80.0,20.0,80.0,20.00,80.00,29.00,71.00,NaN,Helen Shaw (HR Manager),250 to 499,THE OAKLEA TRUST,False,2025-04-05,2025-03-27 11:31:11,0,NaN,Public Administration and Defence; Compulsory ...,None,NaN
81695,THE WREKIN HOUSING GROUP LIMITED,20513,NaN,NaN,RS008067,NaN,7.67,12.93,NaN,NaN,0.0,0.0,52.7,47.3,32.5,67.5,69.20,30.80,61.90,38.10,NaN,Wayne Gethings (Group Chief Executive),500 to 999,THE WREKIN HOUSING GROUP LIMITED,False,2025-04-05,2025-04-01 08:18:44,0,NaN,Other / Unknown,None,NaN
81836,TOWN AND COUNTRY HOUSING GROUP,22023,NaN,NaN,IP30167R,NaN,23.00,25.90,7.1,0.0,84.5,76.4,18.8,81.2,23.7,76.3,31.20,68.80,56.20,43.80,NaN,Shaun Kennedy (Head of Diversity and Inclusion),500 to 999,TOWN AND COUNTRY HOUSING GROUP,False,2025-04-05,2025-04-02 08:46:52,0,NaN,Other / Unknown,None,NaN
81988,TWO SAINTS LIMITED,21516,NaN,NaN,IP26511R,NaN,6.90,6.50,NaN,NaN,0.0,0.0,48.0,52.0,43.0,57.0,31.00,69.00,28.00,72.00,https://www.twosaints.org.uk/,Dawn Gold (HR Manager),250 to 499,TWO SAINTS LIMITED,True,2025-04-05,2025-06-05 15:17:19,61,NaN,Other / Unknown,None,NaN
82218,VALLEYS TO COAST HOUSING LIMITED,22129,NaN,NaN,IP30205R,NaN,-0.97,0.00,NaN,NaN,0.0,0.0,59.8,40.2,50.0,50.0,55.38,44.62,54.84,45.16,https://docs.google.com/document/d/1zts2H5Ed6a...,Gail Walker (Director of People & Culture),250 to 499,VALLEYS TO COAST HOUSING LIMITED,False,2025-04-05,2025-03-31 15:50:07,0,NaN,Other / Unknown,None,NaN

In [123]:
# Count occurrences of each EmployerName
counts = pay_gap['EmployerName'].value_counts()

# Get names that appear more than once
repeated_names = counts[counts > 1].index

# Filter the dataframe to include only repeated EmployerName rows
repeated_rows = pay_gap[pay_gap['EmployerName'].isin(repeated_names)]

# Optionally, sort by EmployerName to make it easier to read
repeated_rows = repeated_rows.sort_values(by='EmployerName')


# Or if in Jupyter Notebook, just:
repeated_rows

# Filter repeated rows where PostCode is null
repeated_null_postcode = repeated_rows[repeated_rows['PostCode'].isna()]


# Or in Jupyter Notebook, just:
repeated_null_postcode

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,IndustryName,Industry,PostcodeArea,Region
61218,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,1554,"104 Wilhelmina Van Pruisenweg, The Hague, 2595...",NaN,FC021840,NaN,5.8,5.5,21.9,16.9,94.5,100.0,76.1,23.9,71.6,28.4,79.1,20.9,86.4,13.6,https://www.business.att.com/content/dam/attbu...,Michael Springham (Director of AT&T Global Net...,250 to 499,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,False,2024-04-05,2024-04-03 13:24:30,0,NaN,Other / Unknown,None,Netherlands
39729,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,1554,"104 Wilhelmina Van Pruisenweg, The Hague, 2595...",NaN,FC021840,NaN,5.7,4.7,3.7,4.3,98.3,96.9,82.2,17.8,84.7,15.3,87.3,12.7,84.1,15.9,https://www.corp.att.com/worldwide/wp-content/...,Michael Springham (Director of AT&T Global Net...,500 to 999,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,False,2022-04-05,2022-04-01 09:27:36,0,NaN,Other / Unknown,None,Netherlands
50314,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,1554,"104 Wilhelmina Van Pruisenweg, The Hague, 2595...",NaN,FC021840,NaN,14.2,10.6,29.5,20.7,96.8,100.0,71.4,28.6,72.7,27.3,84.4,15.6,84.4,15.6,https://www.corp.att.com/wp-content/uploads/si...,Michael Springham (Director AT&T Global Networ...,250 to 499,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,False,2023-04-05,2023-04-03 14:48:29,0,NaN,Other / Unknown,None,Netherlands
29151,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,1554,"104 Wilhelmina Van Pruisenweg, The Hague, 2595...",NaN,FC021840,NaN,5.7,5.5,6.7,4.8,98.3,98.2,84.2,15.8,79.8,20.2,86.4,13.6,85.9,14.1,https://www.corp.att.com/wp-content/uploads/si...,Michael Springham (Director of AT&T Global Net...,500 to 999,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,False,2021-10-06,2021-04-01 08:40:03,0,NaN,Other / Unknown,None,Netherlands
21833,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,1554,"104 Wilhelmina Van Pruisenweg, The Hague, 2595...",NaN,FC021840,NaN,8.9,8.3,7.4,13.0,97.9,95.7,81.2,18.8,82.7,17.3,87.0,13.0,87.0,13.0,https://www.corp.att.com/wp-content/uploads/si...,Michael Springham (Director of AT&T Global Net...,500 to 999,AT&T GLOBAL NETWORK SERVICES (UK) B.V.,False,2020-04-05,2020-04-03 13:18:53,0,NaN,Other / Unknown,None,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20765,VERNACARE LIMITED,19134,"1 Western Avenue Matrix Park, Buckshaw Village...",NaN,00796740,32990,25.9,21.8,-87.0,3.2,22.1,20.0,19.0,81.0,68.0,32.0,73.0,27.0,62.0,38.0,https://www.vernacare.com/,Matt Miller (CEO),250 to 499,VERNACARE LIMITED,False,2019-04-05,2019-04-04 19:40:18,0,Other manufacturing n.e.c.,Manufacturing,None,UK
38427,VERNACARE LIMITED,19134,"1 Western Avenue Matrix Park, Buckshaw Village...",NaN,00796740,32990,25.4,26.6,42.0,44.4,43.8,60.4,58.0,42.0,66.0,34.0,70.0,30.0,73.0,27.0,NaN,Karen Pilkington (Head of HR),250 to 499,VERNACARE LIMITED,False,2021-10-06,2021-10-05 12:25:24,0,Other manufacturing n.e.c.,Manufacturing,None,UK
48995,VERNACARE LIMITED,19134,"1 Western Avenue Matrix Park, Buckshaw Village...",NaN,00796740,32990,16.0,12.6,15.5,0.0,68.0,52.0,52.0,48.0,61.0,39.0,70.0,30.0,74.0,26.0,https://www.vernacare.com/gender-pay-gap-repor...,Karen Pilkington (Head of HR),250 to 499,VERNACARE LIMITED,False,2022-04-05,2022-04-03 09:34:43,0,Other manufacturing n.e.c.,Manufacturing,None,UK
9977,VISA EUROPE SERVICES LLC,13344,"Corporation Trust Center, 1209 Orange Street, ...",NaN,FC025276,NaN,8.6,11.4,30.6,14.9,97.9,90.4,59.0,41.0,65.0,35.0,72.0,28.0,71.0,29.0,https://www.visaeurope.com/about-us/diversity-...,Charlotte Hogg (Executive Vice President and C...,1000 to 4999,VISA EUROPE SERVICES LLC,True,2018-04-05,2020-04-01 13:09:38,727,NaN,Other / Unknown,None,USA
20812,VISA EUROPE SERVICES LLC,13344,"Corporation Trust Center, 1209 Orange Street, ...",NaN,FC025276,NaN,7.0,11.8,28.2,28.4,86.8,82.4,57.0,43.0,67.0,33.0,72.0,28.0,71.0,29.0,https://www.visaeurope.com/about-us/diversity-...,Charlotte Hogg (Executive Vice President and C...,1000 to 4999,VISA EUROPE SERVICES LLC,True,2019-04-05,2020-04-01 13:13:43,362,NaN,Other / Unknown,None,USA

In [124]:
pay_gap.drop(columns=['PostcodeArea'], inplace=True)

In [125]:
# Mapping dictionary
size_mapping = {
    'less than 250': 'Small Employer',
    '250 to 499': 'Medium Employer',
    '500 to 999': 'Substantial Employer',
    '1,000 to 4,999': 'Large-Scale Employer',
    '5,000 to 19,999': 'Corporate Employer',
    '20,000 or more': 'Enterprise-Level Employer',
    'not provided': 'not provided'
}

# Clean original column: strip spaces, lowercase, remove commas
pay_gap['EmployerSize'] = pay_gap['EmployerSize'].str.strip().str.lower().str.replace(',', '')

# Clean mapping keys: lowercase and remove commas
size_mapping_clean = {k.lower().replace(',', ''): v for k, v in size_mapping.items()}

# Map directly
pay_gap['EmployerCategory'] = pay_gap['EmployerSize'].map(size_mapping_clean)

# Check results
print(pay_gap[['EmployerSize', 'EmployerCategory']].head())

  EmployerSize      EmployerCategory
0   500 to 999  Substantial Employer
1   250 to 499       Medium Employer
2   500 to 999  Substantial Employer
3   250 to 499       Medium Employer
4   250 to 499       Medium Employer

In [126]:
# Drop rows where Region is null
pay_gap = pay_gap.dropna(subset=['Region'])

In [127]:
pay_gap.isnull().sum()

EmployerName                     0
EmployerId                       0
Address                          0
PostCode                       189
CompanyNumber                10916
SicCodes                      6422
DiffMeanHourlyPercent            0
DiffMedianHourlyPercent          0
DiffMeanBonusPercent         17072
DiffMedianBonusPercent       17074
MaleBonusPercent                 0
FemaleBonusPercent               0
MaleLowerQuartile              399
FemaleLowerQuartile            399
MaleLowerMiddleQuartile        399
FemaleLowerMiddleQuartile      399
MaleUpperMiddleQuartile        399
FemaleUpperMiddleQuartile      399
MaleTopQuartile                399
FemaleTopQuartile              399
CompanyLinkToGPGInfo         30436
ResponsiblePerson            14247
EmployerSize                     0
CurrentName                      0
SubmittedAfterTheDeadline        0
DueDate                          0
DateSubmitted                    0
DaysLate                         0
IndustryName                 32922
Industry                         0
Region                           0
EmployerCategory                 0
dtype: int64

In [128]:
pay_gap.shape

(82787, 32)

In [129]:
pay_gap['EmployerCategory'].unique()

array(['Substantial Employer', 'Medium Employer', 'Corporate Employer',
       'Large-Scale Employer', 'not provided', 'Small Employer',
       'Enterprise-Level Employer'], dtype=object)

In [130]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'A3D2 LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Substantial Employer'

In [131]:
pay_gap[pay_gap['EmployerName'] == 'A3D2 LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

       EmployerName  EmployerSize      EmployerCategory
54     A3D2 LIMITED  not provided  Substantial Employer
10626  A3D2 LIMITED    500 to 999  Substantial Employer

In [132]:
pay_gap[pay_gap['EmployerName'] == 'ABBOTSFORD CARE (GLENROTHES) LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

,EmployerName,EmployerSize,EmployerCategory
73,ABBOTSFORD CARE (GLENROTHES) LIMITED,not provided,not provided
10646,ABBOTSFORD CARE (GLENROTHES) LIMITED,500 to 999,Substantial Employer
28536,ABBOTSFORD CARE (GLENROTHES) LIMITED,500 to 999,Substantial Employer
39111,ABBOTSFORD CARE (GLENROTHES) LIMITED,500 to 999,Substantial Employer
49678,ABBOTSFORD CARE (GLENROTHES) LIMITED,500 to 999,Substantial Employer
60580,ABBOTSFORD CARE (GLENROTHES) LIMITED,500 to 999,Substantial Employer
71745,ABBOTSFORD CARE (GLENROTHES) LIMITED,250 to 499,Medium Employer

In [133]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ABBOTSFORD CARE (GLENROTHES) LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Substantial Employer'

In [134]:
pay_gap[pay_gap['EmployerName'] == 'ACCENTURE (UK) LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                 EmployerName   EmployerSize    EmployerCategory
112    ACCENTURE (UK) LIMITED   not provided        not provided
10687  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
21474  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
28574  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
39153  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
49721  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
60622  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer
71783  ACCENTURE (UK) LIMITED  5000 to 19999  Corporate Employer

In [135]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ACCENTURE (UK) LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Corporate Employer'

In [136]:
pay_gap[pay_gap['EmployerName'] == 'ACI WORLDWIDE (EMEA) LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                       EmployerName  EmployerSize EmployerCategory
137    ACI WORLDWIDE (EMEA) LIMITED  not provided     not provided
10715  ACI WORLDWIDE (EMEA) LIMITED    250 to 499  Medium Employer
21488  ACI WORLDWIDE (EMEA) LIMITED    250 to 499  Medium Employer

In [137]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ACI WORLDWIDE (EMEA) LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Medium Employer'

In [138]:
pay_gap[pay_gap['EmployerName'] == 'Advisory, Conciliation and Arbitration Service'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

,EmployerName,EmployerSize,EmployerCategory
210,"Advisory, Conciliation and Arbitration Service",not provided,not provided
10788,"Advisory, Conciliation and Arbitration Service",500 to 999,Substantial Employer
21526,"Advisory, Conciliation and Arbitration Service",500 to 999,Substantial Employer
28670,"Advisory, Conciliation and Arbitration Service",500 to 999,Substantial Employer
39249,"Advisory, Conciliation and Arbitration Service",1000 to 4999,Large-Scale Employer
49825,"Advisory, Conciliation and Arbitration Service",1000 to 4999,Large-Scale Employer
60724,"Advisory, Conciliation and Arbitration Service",1000 to 4999,Large-Scale Employer
71881,"Advisory, Conciliation and Arbitration Service",1000 to 4999,Large-Scale Employer

In [139]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'Advisory, Conciliation and Arbitration Service') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Substantial Employer'

In [140]:
pay_gap[pay_gap['EmployerName'] == 'AKTRION MANUFACTURING SUPPORT SERVICES LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

,EmployerName,EmployerSize,EmployerCategory
290,AKTRION MANUFACTURING SUPPORT SERVICES LIMITED,not provided,not provided
10878,AKTRION MANUFACTURING SUPPORT SERVICES LIMITED,250 to 499,Medium Employer

In [141]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'AKTRION MANUFACTURING SUPPORT SERVICES LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Medium Employer'

In [142]:
pay_gap[pay_gap['EmployerName'] == 'ALCOHOL & DRUGS ACTION'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                 EmployerName   EmployerSize EmployerCategory
301    ALCOHOL & DRUGS ACTION   not provided     not provided
10889  ALCOHOL & DRUGS ACTION  less than 250   Small Employer

In [143]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ALCOHOL & DRUGS ACTION') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Small Employer'

In [144]:
pay_gap[pay_gap['EmployerName'] == 'ALPHA FACILITIES MANAGEMENT LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                              EmployerName  EmployerSize      EmployerCategory
363    ALPHA FACILITIES MANAGEMENT LIMITED  not provided          not provided
10956  ALPHA FACILITIES MANAGEMENT LIMITED    500 to 999  Substantial Employer

In [145]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ALPHA FACILITIES MANAGEMENT LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Substantial Employer'

In [146]:
pay_gap[pay_gap['EmployerName'] == 'ARTHUR DAVID (FOOD WITH SERVICE) LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                                   EmployerName  EmployerSize EmployerCategory
577    ARTHUR DAVID (FOOD WITH SERVICE) LIMITED  not provided     not provided
11182  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer
29063  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer
39634  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer
50221  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer
61126  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer
72285  ARTHUR DAVID (FOOD WITH SERVICE) LIMITED    250 to 499  Medium Employer

In [147]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ARTHUR DAVID (FOOD WITH SERVICE) LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Medium Employer'

In [148]:
pay_gap[pay_gap['EmployerName'] == 'ASTON MANOR LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

              EmployerName  EmployerSize EmployerCategory
655    ASTON MANOR LIMITED  not provided     not provided
11269  ASTON MANOR LIMITED    250 to 499  Medium Employer
21827  ASTON MANOR LIMITED    250 to 499  Medium Employer
29143  ASTON MANOR LIMITED    250 to 499  Medium Employer
39721  ASTON MANOR LIMITED    250 to 499  Medium Employer
50307  ASTON MANOR LIMITED    250 to 499  Medium Employer
61211  ASTON MANOR LIMITED    250 to 499  Medium Employer
72382  ASTON MANOR LIMITED    250 to 499  Medium Employer

In [149]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ASTON MANOR LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Medium Employer'

In [150]:
pay_gap[pay_gap['EmployerName'] == 'ASTON SCOTT GROUP LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                  EmployerName  EmployerSize EmployerCategory
657  ASTON SCOTT GROUP LIMITED  not provided     not provided

In [151]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'ASTON SCOTT GROUP LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Large Employer'

In [152]:
pay_gap[pay_gap['EmployerName'] == 'Autism Together'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

          EmployerName  EmployerSize      EmployerCategory
697    Autism Together  not provided          not provided
11318  Autism Together    500 to 999  Substantial Employer
21852  Autism Together    500 to 999  Substantial Employer

In [153]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'Autism Together') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Substantial Employer'

In [154]:
pay_gap[pay_gap['EmployerCategory'] == 'not provided']

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,IndustryName,Industry,Region,EmployerCategory
804,BAGS ETC LIMITED,1742,"Cvr Global Llp 1st Floor, 16-17 Boundary Road,...",BN34AN,04773542,47789,26.80,0.00,27.3,25.9,39.6,51.8,13.00,87.00,13.00,87.00,11.00,89.00,26.50,73.50,NaN,Colin Gillingwater (Financial Controller),not provided,BAGS ETC LIMITED,False,2018-04-05,2017-12-14 12:54:12,0,Other retail sale of new goods in specialised ...,Wholesale and Retail Trade; Repair of Motor Ve...,South East,not provided
814,BALANS RESTAURANTS LIMITED,67,"C/O Edge Recovery Limited, 5-7 Ravensbourne Ro...",BR11HN,08410036,56101,5.90,11.10,19.9,10.3,9.8,18.1,64.40,35.60,72.90,27.10,54.20,45.80,69.50,30.50,NaN,Zsolt Kocsis (Payroll Manager),not provided,BALANS RESTAURANTS LIMITED,False,2018-04-05,2017-10-13 15:40:15,0,Licensed restaurants,Accommodation and Food Service Activities,London,not provided
834,Bank of England,14475,"Threadneedle Street, London, EC2R 8AH",EC2R8AH,NaN,NaN,21.00,24.20,23.6,25.6,87.0,89.0,43.00,57.00,51.00,49.00,62.00,38.00,70.00,30.00,http://www.bankofengland.co.uk/publications/Pa...,NaN,not provided,Bank of England,False,2018-03-31,2017-11-23 16:37:23,0,NaN,Other / Unknown,London,not provided
864,Barking & Dagenham College,1819,"Dagenham Road, Romford, Essex, United Kingdom,...",RM70XU,NaN,85320,8.00,15.00,100.0,100.0,2.0,0.0,30.00,70.00,36.00,64.00,57.00,43.00,51.00,49.00,http://bdc.pixl8-hosting.co.uk/en/about-the-co...,NaN,not provided,Barking & Dagenham College,False,2018-03-31,2017-11-27 10:18:35,0,NaN,Public Administration and Defence; Compulsory ...,London,not provided
928,BE MODERN LIMITED,1912,"19-34 Bedesway Bede Industrial Estate, Jarrow,...",NE323BE,00829005,31090,2.50,-27.70,57.9,0.0,92.0,96.5,97.40,2.60,84.40,15.60,67.50,32.50,75.30,24.70,NaN,John Harris (Group Financial Director),not provided,BE MODERN LIMITED,False,2018-04-05,2017-11-30 14:36:34,0,Manufacture of other furniture,Manufacturing,North East,not provided
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68208,Q-PARK LIMITED,10164,"1 East Parade, Leeds, England, LS1 2AD",LS12AD,01721817,68209,-15.90,-1.80,-38.2,-211.7,81.1,88.3,80.00,20.00,89.50,10.50,88.50,11.50,73.00,27.00,NaN,Roxzanne Jones (Head of HR UK & IE),not provided,Q-PARK LIMITED,False,2024-04-05,2024-04-04 16:05:09,0,Other letting and operating of own or leased r...,"Real Estate, Professional, Scientific and Tech...",Yorkshire and the Humber,not provided
69013,Sheffield City Council HQ,11107,"Town Hall, Pinstone Street, Sheffield, South Y...",S12HH,NaN,84110,-1.10,0.25,NaN,NaN,0.0,0.0,38.50,61.50,39.20,60.80,44.90,55.10,36.10,63.90,NaN,NaN,not provided,Sheffield City Council HQ,False,2024-03-31,2024-03-18 08:31:51,0,NaN,Public Administration and Defence; Compulsory ...,Yorkshire and the Humber,not provided
69686,SUNDERLAND CARE AND SUPPORT LIMITED,11812,"City Hall, Plater Way, Sunderland, England, SR...",SR13AA,08681649,88990,2.13,0.00,NaN,NaN,0.0,0.0,79.00,21.00,20.00,80.00,20.00,80.00,23.00,77.00,NaN,Giilian Hunter (Assistant Director of People M...,not provided,SUNDERLAND CARE AND SUPPORT LIMITED,False,2024-04-05,2024-04-04 14:38:59,0,Other social work activities without accommoda...,Public Administration and Defence; Compulsory ...,North East,not provided
69922,TESLA ENGINEERING LIMITED,12143,"Water Lane Ind.Est., Storrington, Sussex, RH20...",RH203EA,02786571,28990,9.53,2.17,NaN,NaN,0.0,0.0,91.74,8.26,85.45,14.55,88.07,11.93,86.36,13.64,NaN,DAVID CRACKNELL (FINANCE DIRECTOR),not provided,TESLA ENGINEERING LIMITED,True,2024-04-05,2024-04-05 17:44:28,0,Manufacture of other special-purpose machinery...,Manufacturing,South East,not provided
71097,VOCALINK INTERNATIONAL LIMITED,20848,"1 Angel Lane, London, United Kingdom, EC4R 3AB",EC4R3AB,11646063,63110,17.70,10.00,28.0,12.4,93.1,89.7,55.40,44.60,69.50,30.50,74.00,26.00,76.80,23.20,https://www.mastercard.co.uk/content/dam/publi...,"Kelly Devine (Division President, Mastercard U...",not provided,VOCALINK INTERNATIONAL LIMITED,False,2024-04-05,2024-04-02 15:18:07,0,"Data processing, hosting and related activities",Information and Communication,London,not provided

In [155]:
pay_gap[pay_gap['EmployerName'] == 'BODYCOTE HEAT TREATMENTS LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

                           EmployerName  EmployerSize      EmployerCategory
1140   BODYCOTE HEAT TREATMENTS LIMITED  not provided          not provided
11772  BODYCOTE HEAT TREATMENTS LIMITED    500 to 999  Substantial Employer
22176  BODYCOTE HEAT TREATMENTS LIMITED    250 to 499       Medium Employer
29647  BODYCOTE HEAT TREATMENTS LIMITED    250 to 499       Medium Employer
40229  BODYCOTE HEAT TREATMENTS LIMITED  not provided          not provided

In [156]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
#  two rows index 
pay_gap.loc[1140, 'EmployerCategory'] = 'Substantial Employer'
pay_gap.loc[40229, 'EmployerCategory'] = 'Medium Employer'

In [157]:
pay_gap[pay_gap['EmployerName'] == 'Cleveland Police'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

           EmployerName  EmployerSize      EmployerCategory
2055   Cleveland Police  not provided          not provided
12707  Cleveland Police  1000 to 4999  Large-Scale Employer
30517  Cleveland Police  1000 to 4999  Large-Scale Employer
41101  Cleveland Police  not provided          not provided
51709  Cleveland Police  1000 to 4999  Large-Scale Employer
62630  Cleveland Police  1000 to 4999  Large-Scale Employer
73801  Cleveland Police  1000 to 4999  Large-Scale Employer

In [158]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'Cleveland Police') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Large-Scale Employer'

In [159]:
pay_gap[pay_gap['EmployerName'] == 'COMPASS GROUP, UK AND IRELAND LIMITED'][['EmployerName', 'EmployerSize', 'EmployerCategory']]

,EmployerName,EmployerSize,EmployerCategory
2151,"COMPASS GROUP, UK AND IRELAND LIMITED",not provided,not provided
12806,"COMPASS GROUP, UK AND IRELAND LIMITED",not provided,not provided
22855,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer
30620,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer
41206,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer
51821,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer
62747,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer
73920,"COMPASS GROUP, UK AND IRELAND LIMITED",20000 or more,Enterprise-Level Employer

In [160]:
# RELACE NOT PROVIDED WITH THE CORRECT EMPLOYER SIZE AND EMPLOYER CATEGORY
pay_gap.loc[
    (pay_gap['EmployerName'] == 'COMPASS GROUP, UK AND IRELAND LIMITED') &
    (pay_gap['EmployerCategory'] == 'not provided'),
    'EmployerCategory'
] = 'Enterprise-Level Employer'

In [161]:
# Duplicated EmployerName with not provided category
not_provided = pay_gap[pay_gap['EmployerCategory'] == 'not provided']

# Then, keep only duplicated EmployerName
duplicated = not_provided[not_provided.duplicated(subset='EmployerName', keep=False)]

duplicated

,EmployerName,EmployerId,Address,PostCode,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted,DaysLate,IndustryName,Industry,Region,EmployerCategory
4451,IDEAL CAREHOMES (NUMBER ONE) LIMITED,6484,"5 Churchill Place, 10th Floor, London, United ...",E145HU,07535382,87300,5.0,9.0,24.0,53.0,54.0,39.0,4.0,96.0,8.0,92.0,14.0,86.0,12.0,88.0,NaN,Philip Raven (Director),not provided,IDEAL CAREHOMES (NUMBER ONE) LIMITED,False,2018-04-05,2018-03-12 15:02:08,0,Residential care activities for the elderly an...,Public Administration and Defence; Compulsory ...,London,not provided
4585,INTEGRATED CLEANING MANAGEMENT LIMITED,6676,Parklands Court 24 Parklands Birmingham Great ...,B459PZ,03193989,"81210,81221,81222",5.8,0.3,24.0,-4.0,2.5,1.1,38.1,61.9,31.9,68.1,27.4,72.6,45.8,54.2,https://www.compass-group.co.uk/media/3405/gen...,Donna Catley (HR Director),not provided,INTEGRATED CLEANING MANAGEMENT LIMITED,False,2018-04-05,2017-12-13 11:01:26,0,NaN,Administrative and Support Service Activities,West Midlands,not provided
7241,QUADRANT CATERING LIMITED,10169,"30 Finsbury Square, London, EC2A 1AG",EC2A1AG,03511995,56210,5.2,3.0,-80.3,12.7,2.4,1.3,14.8,85.2,20.3,79.7,28.0,72.0,23.8,76.2,https://www.compass-group.co.uk/media/3405/gen...,Donna Catley (HR Director),not provided,QUADRANT CATERING LIMITED,False,2018-04-05,2017-12-13 11:08:44,0,Event catering activities,Accommodation and Food Service Activities,London,not provided
9536,TOTAL SYSTEM SERVICES PROCESSING EUROPE LIMITED,12824,"Fulford Moor House, Fulford Road, York, YO10 4EY",YO104EY,05764688,82990,21.2,13.3,80.1,16.4,34.0,37.0,56.0,44.0,69.0,31.0,74.0,26.0,79.0,21.0,https://www.tsys.com/about-us/corporate-respon...,Ryland Harrelson (EVP & Chief Human Resources ...,not provided,TOTAL SYSTEM SERVICES PROCESSING EUROPE LIMITED,False,2018-04-05,2018-04-03 21:47:48,0,Other business support service activities n.e.c.,Administrative and Support Service Activities,Yorkshire and the Humber,not provided
9659,TSYS MANAGED SERVICES EMEA LIMITED,12990,"Burystead Court 120 Caldecotte Lake Drive, Cal...",MK78LE,05947723,64999,4.1,-0.6,73.4,10.9,5.0,7.0,51.0,49.0,43.0,57.0,44.0,56.0,48.0,52.0,https://www.tsys.com/about-us/corporate-respon...,Ryland Harrelson (EVP & Chief Human Resources ...,not provided,TSYS MANAGED SERVICES EMEA LIMITED,False,2018-04-05,2018-04-03 21:52:25,0,Financial intermediation not elsewhere classified,Financial and Insurance Activities,South East,not provided
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48751,Uffculme Academy Trust,20181,"Uffculme Academy Trust Central Office, Chapel ...",EX153AG,NaN,NaN,17.9,35.8,NaN,NaN,0.0,0.0,12.5,87.5,23.0,77.0,28.1,71.9,34.9,65.1,https://www.uffculmetrust.org/financial,NaN,not provided,Blackdown Education Partnership,False,2022-03-31,2021-09-27 17:35:55,0,NaN,Other / Unknown,South West,not provided
49585,ZENITH MULTI ACADEMY TRUST,16487,"C/O The King John School Shipwrights Drive, Th...",SS71RQ,07559293,85310,7.8,11.9,NaN,NaN,0.0,0.0,16.7,83.3,22.2,77.8,25.0,75.0,49.5,50.5,NaN,NaN,not provided,ZENITH MULTI ACADEMY TRUST,False,2022-03-31,2022-02-18 12:02:12,0,General secondary education,Public Administration and Defence; Compulsory ...,East of England,not provided
52909,EXTRA PERSONNEL AUTOMOTIVE LIMITED,15055,"12 New Fetter Lane, London, England, EC4A 1JP",EC4A1JP,08586759,78200,-0.4,1.6,17.9,20.0,55.1,59.8,78.4,21.6,73.0,27.0,88.7,11.3,75.9,24.1,NaN,Juan Sureda Gallardo (CEO of Europe),not provided,EXTRA PERSONNEL AUTOMOTIVE LIMITED,False,2023-04-05,2023-02-06 10:41:56,0,Temporary employment agency activities,Administrative and Support Service Activities,London,not provided
57809,SECURITAS SECURITY SERVICES (UK) LIMITED,10987,"Cobra House Ortensia Drive, Wavendon Business ...",MK178LX,01146486,"80100,82990,84240,84250",-4.2,-4.7,2.2,-26.0,18.9,21.6,88.4,11.6,89.5,10.5,84.3,15.7,81.6,18.4,NaN,Sarah Hayes (Human Resources Director),not provided,SECURITAS SECURITY SERVICES (UK) LIMITED,False,2023-04-05,2023-04-03 10:09:19,0,NaN,Administrative and Support Service Activities,South East,not provided
61071,ARCTICS LIMITED,17525,"Arctics House, 23 The Point Business Park, Mar...",LE167QU,05292026,"78109,82990",4.5,-5.2,17.8,20.0,2.1,15.0,84.8,15.2,86.4,13.6,66.7,33.3,84.8,15.2,NaN,Dan Berryman (Director),not provided,ARCTICS LIMITED,False,2024-04-05,2024-04-04 14:45:15,0,NaN,Administrative and Support Service Activities,East Midlands,not provided

In [162]:
pay_gap['EmployerName'].nunique()

17905

In [163]:
pay_gap['IndustryName'].nunique()

540

In [164]:
pay_gap['Industry'].nunique()

17

In [166]:
pay_gap['Region'].nunique()

30

In [ ]:
pay_gap.to_csv('Uk.csv', index = False)